@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>错误</title>
</head>
<body>
    <hgroup>
        <h2>您访问的页面出错或资源不存在。您可以联系商务QQ1837592306</h2>
    </hgroup>
</body>
</html>