<div class="m-footer">
    <div class="copyright">
        Copyright © 2016-2018 指尖互动 All Rights Reserved | <a href="http://www.miitbeian.gov.cn/" target="_blank">闽ICP备16031728号-2</a>
    </div>
</div>