<div class="m-navbar" id="js_navbar">
    <div class="wrap">
        <div class="container c">
            <a href="/" class="logo">指尖互动</a>
            <ul class="menu" id="js_menu">
                <li data-menu="home"><a href="/">首页</a></li>
                <li data-menu="strategy"><a href="/home/strategy">投放策略</a></li>
                <li data-menu="channel"><a href="/home/channel">渠道媒介</a></li>
                <li data-menu="example"><a href="/home/example">精选案例</a></li>
                <li data-menu="about"><a href="/home/about">关于我们</a></li>
                <li data-menu="assistant"><a href="http://zs.xmfinger.com/" target="_blank">指尖助手</a></li>
                
            </ul>
        </div>
    </div>
</div>