@using StarfishAdvertisement.Models;
@using CommonModel.Models;
@{
   
  user u= UserBLL.GetUserinfo();
}
<div class="m-navbar" id="js_navbar">
    <div class="wrap">
        <div class="container c">
            <div class="logo-star"><i class="ico-logo"></i>海星广告平台</div>
            <div class="user">
               
                @if (u != null && u.UserId != 0)
                {
                    <div class="avatar"><img src="http://file.tuling99.com/@u.SmallAvartar" alt="@u.NickName"></div>
                    <span class="name">@u.NickName</span>
                    <a href="/home/Logout">退出</a>
                }
                else
                {
                    <div class="avatar"><img src="/static/img/system/avatar.jpg" alt="游客"></div>
                    <span class="name">游客</span>
                    <a href="/home/login">登录</a>
                }
                
            </div>
            <ul class="menu system-menu" id="js_menu">
                <li data-menu="home"><a href="~/">指尖互动</a></li>
                @*<li data-menu="about"><a href="/about.html">关于我们</a></li>*@
                <li data-menu="document"><a href="/home/doc">文档中心</a></li>
            </ul>
        </div>
    </div>
</div>