.login .img-code a,.login .img-code img{vertical-align:middle}
.viewport,body,html{height:100%}
.viewport{position:relative;background:url('../img/system/bg.jpg') no-repeat;-webkit-background-size:cover;background-size:cover;overflow:hidden;max-height:1080px}
.login{position:absolute;right:7.5%;top:50%;margin-top:-315px;width:270px;height:475px;background-color:#fff;padding:75px 40px 80px;-webkit-animation:right-in 1s .4s both;animation:right-in 1s .4s both}
.login .subject{font-size:40px;color:#1a9eaa}
.login .desc,.login .form{font-size:18px}
.login .form{position:relative;margin-top:150px}
.login .tip{position:absolute;width:100%;top:-30px;font-size:14px;color:#ff2a00}
.login .row{position:relative;margin-bottom:1em}
.login .ipt{background-color:transparent;width:91%;border:1px solid #d9d9d9;padding:6px 4%;border-radius:5px}
.login .btn{width:100%;height:35px;background-color:#4dc4c2;color:#fff;border:none}
.login .help{margin-top:35px}
.login .help a{color:#1698ad;text-decoration:underline}
.login .ipt-code{float:left;width:4em}
.login .img-code{height:35px;float:right;font-size:12px}
.login .img-code a{display:inline-block;color:#1698ad}
.m-footer,.m-footer a{color:#000}
.m-footer{position:absolute;left:0;right:0;bottom:0;background-color:#fff;background-color:rgba(255,255,255,.9)}