@{
    ViewBag.Title = "关于我们_厦门指尖互动 - 企业一站式渠道营销与服务";
    ViewBag.Menu = "about";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@section Head{
    <link rel="stylesheet" type="text/css" href="/static/css/about_396a59d.css?v=2" />
}
<!-- swipe -->
<div class="swipe ui-banner" id="swipe_banner">
    <div class="swipe-box">
        <ul class="swipe-wrap c">
            <li class="swipe-item">
                <img src="/static/img/about/banner.jpg" alt="专注于移动互联网一站式渠道与营销服务解决方案" />
            </li>
        </ul>
    </div>
    <div class="ui-mousewheel"></div>
    <!-- about -->
    <div class="about">
        <div class="subject">指尖互动</div>
        <div class="content">
            <p>厦门指尖互动文化传播有限公司专注于移动互联网、致力于为企业提供更专业更实效的一站式渠道拓展、移动广告营销解决方案。公司服务内容包括互联网的产品渠道分发与推广、媒体投放、公司品牌营销、新媒体营销、广告数据优化以及流量采购等定制化营销方案。一站式渠道服务，省时省心；设置分平台承包、多渠道分发，定制推广方案；支持效果评估，大数据分析指导渠道优化；根据效果结算，缩减成本，提高流量效果。</p>
            <p>公司将以企业一站式渠道营销为起点，创建广告主数据后台及广告投放平台，优化运营体系，助力广告主投放效果提升；通过与大量媒体深度合作，扩大媒体资源优势；实现流量分发、流量经营以及商业变现。围绕移动营销持续布局，致力于打造领先精准营销平台。</p>
        </div>
    </div>
    <!-- /about -->
</div>
<!-- //swipe -->
<div class="team animation">
    <div class="subject">优质团队</div>
    <p class="desc">
        公司创始团队来自百度，腾讯，91无线及网龙知名互联网公司，拥有完整的渠道、运营、商务、设计、美术、研发团队等，<br>拥有丰富的渠道、媒体、商务等资源，团队具有很强的运营和推广能力。<br>
        我们尊重每次合作的机会与挑战，不断精进，力求完美。团队秉承“勇于创新、极致服务、诚信敬业”的服务理念，致力于移动互联网一站式渠道与营销服务。
    </p>
    <ul class="picture c">
        <li class="item-1"><img src="/static/img/about/pic-1.jpg" alt="团队1"></li>
        <li class="item-2"><img src="/static/img/about/pic-2.jpg" alt="团队2"></li>
        <li class="item-3"><img src="/static/img/about/pic-3.jpg" alt="团队3"></li>
        <li class="item-4"><img src="/static/img/about/pic-4.jpg" alt="团队4"></li>
        <li class="item-5"><img src="/static/img/about/pic-5.jpg" alt="团队5"></li>
    </ul>
</div>
<div class="map animation">
    <div class="contact">
        <div class="subject">联系我们</div>
        <div class="line"></div>
        <p>
            厦门指尖互动文化传播有限公司<br>
            钟先生<br>
            QQ：2770020<br>
            地址：中国(福建)厦门市软件园3期A区01栋1301单元.
        </p>
    </div>
    <a href="http://map.baidu.com/?newmap=1&ie=utf-8&s=s%26wd%3D%E5%8E%A6%E9%97%A8%E5%B8%82%E8%BD%AF%E4%BB%B6%E5%9B%AD3%E6%9C%9Fa%E5%8C%BA01%E6%A0%8B" target="_blank"><img src="/static/img/about/map_aab7a82.png?v=2" alt="指尖互动地图"></a>
</div>
@section Foot{

    <script>
        require('about')
    </script>
}
