@{
    ViewBag.Title = "渠道媒介_厦门指尖互动 - 企业一站式渠道营销与服务";
    ViewBag.Menu = "channel";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@section Head{
    <link rel="stylesheet" type="text/css" href="/static/css/channel_c1d3f60.css" />
}
<!-- swipe -->
<div class="swipe ui-banner" id="swipe_banner">
    <div class="swipe-box">
        <ul class="swipe-wrap c">
            <li class="swipe-item">
                <img src="/static/img/channel/banner.jpg" alt="专注于移动互联网一站式渠道与营销服务解决方案" />
            </li>
        </ul>
    </div>
    <!-- <div class="ui-mousewheel"></div> -->
</div>
<!-- //swipe -->
<!-- part-1 -->
<div class="part part-1 animation c">
    <div class="wrap">
        <div class="intro">
            <div class="subject">优质渠道及知名媒介</div>
            <div class="sub">最大化渠道推广和广告投放</div>
//             <span class="line"></span>
        </div>
        <ul class="items c">
            <li class="item">
                <i class="num"><em class="countto" data-from="0" data-to="30">00</em>家</i>
                <div class="title">应用市场</div>
                <span class="splitline"></span>
            </li>
            <li class="item">
                <i class="num"><em class="countto" data-from="0" data-to="100" data-speed="1200" data-text="100+">00</em>家</i>
                <div class="title">第三方渠道</div>
                <span class="splitline"></span>
            </li>
            <li class="item">
                <i class="num"><em class="countto" data-from="0" data-to="50">00</em>家</i>
                <div class="title">垂直类APP</div>
                <span class="splitline"></span>
            </li>
            <li class="item">
                <i class="num"><em class="countto" data-from="0" data-to="8">00</em>家</i>
                <div class="title">ASO及SEO渠道</div>
            </li>
            <li class="item"></li>
            <li class="item">
                <i class="num"><em class="countto" data-from="0" data-to="1000" data-speed="1500" data-text="1000+">00</em>家</i>
                <div class="title">互联网媒体</div>
                <span class="splitline"></span>
            </li>
            <li class="item">
                <i class="num"><em class="countto" data-from="0" data-to="100" data-speed="1200" data-text="100+">00</em>家</i>
                <div class="title">传统媒体</div>
                <span class="splitline"></span>
            </li>
            <li class="item">
                <i class="num"><em class="countto" data-from="0" data-to="10">00</em>家</i>
                <div class="title">实体广告媒体</div>
            </li>
        </ul>
        <img src="/static/img/channel/channel.jpg" class="picture" alt="优质渠道及知名媒介">
    </div>
</div>
<!-- /part-1 -->
<!-- part-2 -->
<div class="part part-2 animation c">
    <div class="wrap">
        <div class="intro">
            <div class="subject">多样化投放和媒介展现</div>
            <div class="sub">让推广创意不限制</div>
//             <span class="line"></span>
            <p class="desc">基于多样化的渠道和媒体资源，满足企业各种定制化的投放和广告需求</p>
        </div>
        <img src="/static/img/channel/screen.jpg" class="picture" alt="优质渠道及知名媒介">
    </div>
</div>
<!-- /part-2 -->
<!-- part-3 -->
<div class="part part-3 animation c">
    <div class="wrap">
        <div class="intro">
            <div class="subject">有效提升热度</div>
            <div class="sub">达到推广目的</div>
//             <span class="line"></span>
            <p class="desc">目标精准，策略清晰，高效执行，让推广更简单更省心</p>
        </div>
        <img src="/static/img/channel/seo.jpg" class="picture" alt="优质渠道及知名媒介">
    </div>
</div>
<!-- /part-3 -->
@section Foot{

    <script>
        require('channel')
    </script>
}
