@{
    ViewBag.Title = "精选案例_厦门指尖互动 - 企业一站式渠道营销与服务";
    ViewBag.Menu = "example";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@section Head{
<link rel="stylesheet" type="text/css" href="/static/css/example_f0139e3.css" />
}
<!-- part-1 -->
<div class="part part-1 animation c">
    <header class="partTitle">
        品牌宣传-菩提心光
        <div class="titleDivide"></div>
    </header>
    <div class="intro">
        <!-- <div class="subject">一站式服务策略</div> -->
        <div class="sub">项目介绍</div>
        <p class="desc">
            菩提心光，导演张智焜，代表作品《前世今生》、《舌尖素食》、《机器人妈妈》、《上师之路》，其中
            <br>《前世今生》荣获中国微电影大赛华南地区最佳影等多项大奖
        </p>
        <div class="sub">执行方案</div>
        <p class="desc">
            1 话题创建：如 “ 首家机器人参与的佛教题材电影 ” 等，新闻话题不少于 8 个
            <br>2 新闻稿撰写：11-15 篇原创深度新闻，行业资深记者撰写
            <br>3 新闻发布：腾讯、网易、凤凰、今日头条、一点资讯等不少于 120 家主流媒体发布
            <br>4 南方周末和腾讯娱乐 2 家专访报道
            <br>5 百度百科词条创建及优化：维护周期 1 年
        </p>
        <div class="sub">宣传效果</div>
        <ul class="items c">
            <li class="item">
                <i class="num"><em class="countto" data-from="0" data-to="512">00</em>万次</i>
                <div class="title">阅读量</div>
            </li>
            <li class="item">
                <i class="num"><em class="countto" data-from="0" data-to="1251" data-speed="1200">00</em>次</i>
                <div class="title">转发量</div>
            </li>
            <li class="item">
                <i class="num"><em class="countto" data-from="0" data-to="1169">00</em>次</i>
                <div class="title">新闻评论</div>
            </li>
        </ul>
        <ul class="items c">
            <li class="item">
                <i class="num"><em class="countto" data-from="0" data-to="503">00</em>次</i>
                <div class="title">有效新闻收录</div>
            </li>
            <li class="item">
                <i class="num"><em class="countto" data-from="0" data-to="15">00</em>工作日</i>
                <div class="title">百度词条创立</div>
            </li>
        </ul>
    </div>
    <div class="picture"></div>
    <div class="part-bg"></div>
</div>
<!-- /part-1 -->
<!-- part-2 -->
<div class="part part-2 animation c">
    <header class="partTitle">
        移动应用推广-腾讯动漫
        <div class="titleDivide"></div>
    </header>
    <div class="intro">
        <!-- <div class="subject">一站式服务策略</div> -->
        <div class="sub">项目介绍</div>
        <p class="desc">
            中国最大最权威的正版动漫网站，连载众多原创国漫、原创动画、正版日漫等海内外最热正版动漫
            <br>内容，为上千万动漫爱好者提供漫画、动画、资讯、论坛一站式全方位动漫服务
        </p>
        <div class="sub">推广需求</div>
        <p class="desc">提升 APP 在应用市场排名，快速增加用户</p>
    </div>
    <div class="pic-wrapper">
        <div class="picture1"></div>
        <div class="picture2"></div>
    </div>
    <div class="part-bg"></div>
</div>
<!-- /part-2 -->
<!-- part-3 -->
<div class="part part-3 animation c">
    <header class="partTitle">
        贷款APP推广案例
        <div class="titleDivide"></div>
    </header>
    <div class="intro">
        <div class="sub">项目介绍</div>
        <p class="desc">
            1.上海融谐信息技术有限公司（以下简称 99 贷），是国内领先的网贷只能搜索引擎，99 贷依托庞大的征信数据集以及先进的数据挖
            <br>掘技术，专业为贷款需求者与资金提供方之间搭建借款服务的桥梁
        </p>
        <p class="desc margin">
            2.爱借钱、好贷钱包是厦门有渔网络科技有限公司旗下的贷款产品，专门针对无信用卡的用户，凭身份证和手机号即可放贷，解决上
            <br>班族、自由职业者、中小微企业借款申请难题，轻松满足借款需求
        </p>
        <div class="sub">推广需求</div>
        <p class="desc">提升 APP 在应用宝、指尖助手中的排名，提高产品曝光率，快速获取大量真实用户，提升产品 ROI。</p>
        <div class="sub">执行方案与效果：</div>
    </div>
    <div class="pic-wrapper">
        <div class="picture1"></div>
        <div class="picture2"></div>
    </div>
</div>
<!-- /part-3 -->
<!-- part-4 -->
<div class="part part-4 animation c">
    <header class="partTitle">
        移动应用推广案例
        <div class="titleDivide"></div>
    </header>
    <div class="pic-wrapper">
        <div class="picture1"></div>
        <div class="picture2"></div>
    </div>
    <div class="part-bg"></div>
</div>
<!-- /part-4 -->
<!-- part-5 -->
<div class="part part-5 animation c">
    <header class="partTitle">
        SEO、SEM 优化案例
        <div class="titleDivide"></div>
    </header>
    <div class="intro">
        <p class="desc"><span>关键词：</span>花千骨、花千骨游戏</p>
        <p class="desc"><span>时间：</span>2016.6-2016.7</p>
        <p class="desc">
            <span>策略：</span>百度 SEO 优化，主要包括内容站 SEO 数据分析、百度指数优
            <br>化、外网发帖、微博话题等
        </p>
        <p class="desc margin">
            <span>优化效果：</span>优化后官网在搜索结果排名前三，百度指数上涨 70%，
            <br>并维持 3 个月时间
        </p>
    </div>
    <div class="pic-wrapper">
        <div class="picture1"></div>
        <div class="picture2"></div>
    </div>
</div>
<!-- /part-5 -->
<!-- part-6 -->
<div class="part part-6 animation c">
    <header class="partTitle">
        新媒体营销案例
        <div class="titleDivide"></div>
    </header>
    <div class="intro">
        <p class="desc"><span>广告主：</span>平安好医生</p>
        <p class="desc"><span>投放媒体：</span>微信公众号</p>
        <p class="desc">
            <span>案例亮点：</span>突出平安好医生在互联网医疗创业领域的明星地位，
            <br>以热点电视剧 《欢乐颂》 作为传播切入点，传播的覆盖人群最大化
        </p>
        <p class="desc"><span>传播效果：</span></p>
        <ul class="items c">
            <li class="item">
                <img class="icon" src="/static/img/example/part-6-icon1_364131a.png" alt="">
                <div class="title">覆盖量</div>
                <i class="num"><em class="countto" data-from="0" data-to="48">0</em> 万</i>
            </li>
            <li class="item">
                <img class="icon" src="/static/img/example/part-6-icon2_6d40fa4.png" alt="">
                <div class="title">阅读量</div>
                <i class="num"><em class="countto" data-from="0" data-to="5" data-speed="1000">0</em> 万</i>
            </li>
            <li class="item">
                <img class="icon" src="/static/img/example/part-6-icon3_df99860.png" alt="">
                <div class="title">评论量</div>
                <i class="num"><em class="countto" data-from="0" data-to="213">0</em></i>
            </li>
            <li class="item">
                <img class="icon" src="/static/img/example/part-6-icon4_49ff08d.png" alt="">
                <div class="title">点赞量</div>
                <i class="num"><em class="countto" data-from="0" data-to="198">0</em></i>
            </li>
        </ul>
    </div>
    <div class="picture1"></div>
</div>
<!-- /part-6 -->
<!-- part-7 -->
<div class="part part-7 animation c">
    <header class="partTitle">
        新闻营销案例
        <div class="titleDivide"></div>
    </header>
    <div class="intro">
        <p class="desc"><span>广告主：</span>斗鱼</p>
        <p class="desc"><span>实施时间：</span>2015 年 12 月至今</p>
        <p class="desc"><span>实施范围：</span>全国</p>
        <p class="desc">
            <span>服务项目：</span>新闻发布 - 新闻每日持续发布至搜狐娱乐、人民网娱乐、光明网娱乐、
            <br>千龙网娱乐、扬子晚报网、东方娱乐网、中国网新闻、中国日报网等一二线娱乐
            <br>媒体
        </p>
        <p class="desc"><span>效果分析：</span>新闻成功获得《今日头条》科技频道首页推荐</p>
    </div>
    <div class="picture1"></div>
    <div class="part-bg"></div>
</div>
@section Foot{

    <script>
        require('example')
    </script>
}
