@{
    ViewBag.Title = "厦门指尖互动 - 企业一站式渠道营销与服务";
    ViewBag.Menu = "home";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@section Head{
    <link rel="stylesheet" type="text/css" href="/static/css/index_cb4e2e3.css" />
}
<!-- swipe -->
<div class="swipe ui-banner" id="swipe_banner">
    <div class="swipe-box">
        <ul class="swipe-wrap c">
            <li class="swipe-item">
                <img src="/static/img/home/banner.jpg" alt="专注于移动互联网一站式渠道与营销服务解决方案" />
            </li>
        </ul>
    </div>
    <!-- <div class="ui-mousewheel"></div> -->
</div>
<!-- //swipe -->
<div class="ui-chart">
    <div class="picture">
        <img src="/static/img/home/chart.jpg" alt="品牌营销/APP分发推广/资源精准投放/大数据分析优化效果/分层级结算缩减成本/个性化定制">
    </div>
</div>
<!-- part-1 -->
<div class="part-1 animation">
    <img src="/static/img/home/mac.jpg" alt="整合营销推广价值最大化" class="picture">
    <div class="content">
        <div class="subject">整合营销推广价值最大化</div>
        <div class="line"></div>
        <ul class="items c">
            <li class="item">
                <i class="icon ico-phone"></i>
                <div class="intro">
                    <h3>移动客户端分发推广</h3>
                    <p>多维度精准投放：平台（如iPhone、Android、WinPhone）、地域、职业、年龄、学历、运营商等维度；</p>
                </div>
            </li>
            <li class="item">
                <i class="icon ico-cup"></i>
                <div class="intro">
                    <h3>公司品牌价值最大化</h3>
                    <p>品牌整合营销推广，营销品牌策划，品牌战略管理，形象创意设计，产品力提升；</p>
                </div>
            </li>
            <li class="item">
                <i class="icon ico-monitor"></i>
                <div class="intro">
                    <h3>新媒体与新新媒体助力</h3>
                    <p>整合丰富的媒体资源：微信公众号、微博、微商、门户网站、直播、手机资讯等线上媒体与传统媒体结合；</p>
                </div>
            </li>
            <li class="item">
                <i class="icon ico-light"></i>
                <div class="intro">
                    <h3>定制化营销方案</h3>
                    <p>根据企业产品特性及用户群定位，精准匹配与之相对应的营销推广方案，提升推广效果；</p>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- /part-1 -->
<!-- part-2 -->
<div class="part-2 animation">
    <!-- <div class="ui-splitline"></div> -->
    <div class="subject">优质资源精准投放</div>
    <p class="desc">五大优势，助力营销推广，降本增效</p>
    <ul class="items c">
        <li class="item">
            <i class="num">01</i>
            <div class="intro">
                <h3>丰富资源归类评级</h3>
                <div class="line"></div>
                <p>筛选优质资源，进行资源分类，并根据渠道质量划分等级，助力资源精准投放</p>
            </div>
        </li>
        <li class="item">
            <i class="num">02</i>
            <div class="intro">
                <h3>大数据平台</h3>
                <div class="line"></div>
                <p>分析并记录各渠道用户数据，描绘用户画像，监控渠道推广效果，并进行数据沉淀，形成大数据平台</p>
            </div>
        </li>
        <li class="item">
            <i class="num">03</i>
            <div class="intro">
                <h3>资源精准投放</h3>
                <div class="line"></div>
                <p>根据各类资源属性与企业客户诉求，定制最佳推广营销计划，提高投放的性价比</p>
            </div>
        </li>
        <li class="item">
            <i class="num">04</i>
            <div class="intro">
                <h3>数据指导效果优化</h3>
                <div class="line"></div>
                <p>记录并更新各渠道属性与数据，实时为流量投放做数据指导，优化推广计划，提升推广效果</p>
            </div>
        </li>
        <li class="item">
            <i class="num">05</i>
            <div class="intro">
                <h3>依托效果结算方案</h3>
                <div class="line"></div>
                <p>可根据各渠道的推广数据进行结算，拒绝无效成本，提高流量效果</p>
            </div>
        </li>
    </ul>
</div>
<!-- /part-2 -->
<!-- part-3 -->
<div class="part-3">
    <div class="subject">一键托管营销</div>
    <p class="desc">迅速提升用户量与知名度</p>
    <img src="/static/img/home/mac-chart_60f7d5a.png" alt="一键托管营销" class="picture">
</div>
<!-- /part-3 -->
<!-- part-4 -->
<div class="part-4">
    <div class="subject">他们选择了指尖互动</div>
    <ul class="items c">
        <li><a href="javascript:void(0);" target="_blank"><i class="logo-1">CCTV</i></a></li>
        <li><a href="javascript:void(0);" target="_blank"><i class="logo-2">新浪</i></a></li>
        <li><a href="javascript:void(0);" target="_blank"><i class="logo-3">腾讯新闻</i></a></li>
        <li><a href="javascript:void(0);" target="_blank"><i class="logo-4">凤凰网</i></a></li>
        <li><a href="javascript:void(0);" target="_blank"><i class="logo-5">一点资讯</i></a></li>
        <li><a href="javascript:void(0);" target="_blank"><i class="logo-6">中国网</i></a></li>
        <li><a href="javascript:void(0);" target="_blank"><i class="logo-7">爱奇艺</i></a></li>
        <li><a href="javascript:void(0);" target="_blank"><i class="logo-8">腾讯视频</i></a></li>
        <li><a href="javascript:void(0);" target="_blank"><i class="logo-9">搜狐视频</i></a></li>
        <li><a href="javascript:void(0);" target="_blank"><i class="logo-10">优酷</i></a></li>
        <li><a href="javascript:void(0);" target="_blank"><i class="logo-11">PPTV聚力</i></a></li>
        <li><a href="javascript:void(0);" target="_blank"><i class="logo-12">芒果TV</i></a></li>
        <li><a href="javascript:void(0);" target="_blank"><i class="logo-13">华为</i></a></li>
        <li><a href="javascript:void(0);" target="_blank"><i class="logo-14">小米</i></a></li>
        <li><a href="javascript:void(0);" target="_blank"><i class="logo-15">联想</i></a></li>
        <li><a href="javascript:void(0);" target="_blank"><i class="logo-16">魅族</i></a></li>
        <li><a href="javascript:void(0);" target="_blank"><i class="logo-17">OPPO</i></a></li>
        <li><a href="javascript:void(0);" target="_blank"><i class="logo-18">VIVO</i></a></li>
        <li><a href="javascript:void(0);" target="_blank"><i class="logo-19">百度手机助手</i></a></li>
        <li><a href="javascript:void(0);" target="_blank"><i class="logo-20">应用宝</i></a></li>
        <li><a href="javascript:void(0);" target="_blank"><i class="logo-21">360手机助手</i></a></li>
        <li><a href="javascript:void(0);" target="_blank"><i class="logo-22">iTools</i></a></li>
        <li><a href="javascript:void(0);" target="_blank"><i class="logo-23">爱思助手</i></a></li>
        <li><a href="javascript:void(0);" target="_blank"><i class="logo-24">XY苹果助手</i></a></li>
        <li><a href="javascript:void(0);" target="_blank"><i class="logo-25">中国电信</i></a></li>
        <li><a href="javascript:void(0);" target="_blank"><i class="logo-26">中国移动</i></a></li>
        <li><a href="javascript:void(0);" target="_blank"><i class="logo-27">新浪微博</i></a></li>
        <li><a href="javascript:void(0);" target="_blank"><i class="logo-28">百度移动游戏</i></a></li>
        <li><a href="javascript:void(0);" target="_blank"><i class="logo-29">熊猫看书</i></a></li>
        <li><a href="javascript:void(0);" target="_blank"><i class="logo-30">一加</i></a></li>
    </ul>
</div>
<!-- /part-4 -->
<!-- part-5 -->
<div class="part-5 animation">
    <div class="subject">联系我们</div>
    <div class="line"></div>
    <ul class="items">
        <li class="item">
            <i class="icon ico-comment"></i>
            <h3>商务合作</h3>
            <p>
                王先生<br>
                QQ：294529889
            </p>
        </li>
        <li class="item">
            <i class="icon ico-albums"></i>
            <h3>渠道合作</h3>
            <p>
                庄女士<br>
                QQ：3220755784
            </p>
        </li>
        <li class="item">
            <i class="icon ico-local"></i>
            <h3>联系我们</h3>
            <p>
                厦门市软件园3期<br>A区01栋1301单元
            </p>
        </li>
        <li class="justify_fix"></li>
    </ul>
</div>
<!-- /part-5 -->
@section Foot{

    <script>
        require('index')
    </script>
}
