
@{
    ViewBag.Title = "投放策略_厦门指尖互动 - 企业一站式渠道营销与服务";
    ViewBag.Menu = "strategy";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@section Head{
    <link rel="stylesheet" type="text/css" href="/static/css/strategy_c51ff0c.css" />
}
<!-- swipe -->
<div class="swipe ui-banner" id="swipe_banner">
    <div class="swipe-box">
        <ul class="swipe-wrap c">
            <li class="swipe-item">
                <img src="/static/img/strategy/banner.jpg" alt="专注于移动互联网一站式渠道与营销服务解决方案" />
            </li>
        </ul>
    </div>
    <!-- <div class="ui-mousewheel"></div> -->
</div>
<!-- //swipe -->
<!-- part-1 -->
<div class="part part-1 animation c">
    <div class="intro">
        <div class="subject">一站式服务策略</div>
        <div class="sub">承包各类型的聚合投放策略</div>
        <p class="desc">我们负责产品上架到分发推广、新媒体营销、品牌营销……<br>您需要做的是选择我们</p>
    </div>
    <div class="picture">
        <span class="txt-1">产品应用市场上架</span>
        <span class="txt-2">技术渠道与第<br>三方渠道分发</span>
        <span class="txt-3">媒体关系建立与维护</span>
        <span class="txt-4">效果评估</span>
        <span class="txt-5">费用分层级结算</span>
    </div>
</div>
<!-- /part-1 -->
<!-- part-2 -->
<div class="part part-2 animation c">
    <div class="intro">
        <div class="subject">个性化定制推广方案</div>
        <div class="sub">分平台，多渠道灵活定制</div>
        <p class="desc">灵活的分包策略，您可以选择全平台，指定平台进行委托，也可指定多个渠道打包进行委托，还可以按照您的意愿进行个性化定制</p>
    </div>
    <div class="picture">
        <span class="txt-1">产品定位</span>
        <span class="txt-2">产品评估</span>
        <span class="txt-3">平台选择</span>
        <span class="txt-4">确定渠道</span>
        <span class="txt-5">个性化定制</span>
    </div>
</div>
<!-- /part-2 -->
<!-- part-3 -->
<div class="part part-3 animation c">
    <div class="intro">
        <div class="subject">媒体营销策划</div>
        <div class="sub">高效媒体投放方案</div>
        <p class="desc">基于长期与移动互联网公司及品牌公司的深入合作及全案化代理服务，积累全线媒体投放效果数据，制定出标准化流程服务投放模型，使媒体投放更具专业化、系统化</p>
    </div>
    <div class="picture">
        <span class="txt-1">移动互联网媒体</span>
        <span class="txt-2">互联网PC平台及搜索引擎</span>
        <span class="txt-3">实体媒体投放</span>
        <span class="txt-4">其他</span>
    </div>
</div>
<!-- /part-3 -->
<!-- part-4 -->
<div class="part part-4 animation c">
    <div class="intro">
        <div class="subject">效果评估&amp;分级结算方案</div>
        <div class="sub">把钱花在刀刃上的渠道平台</div>
        <p class="desc">所有的定制方案都支持投放效果的评估，并根据渠道质量进行分层级的结算，有效缩减渠道成本；大数据分析将帮助对您的产品进行改进</p>
    </div>
    <div class="picture">
        <span class="txt-1">投放结果报表</span>
        <span class="txt-2">效果逐一评估</span>
        <span class="txt-3">渠道投放建议</span>
        <span class="txt-4">产品改进建议</span>
        <span class="txt-5">分层级结算</span>
    </div>
</div>
<!-- /part-4 -->

@section Foot{

    <script>
        require('strategy')
    </script>
}