
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312">
    <meta charset="gb2312">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width">
    <meta content="telephone=no" name="format-detection">
    <meta name="applicable-device" content="mobile">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>danielwellington旗舰店</title>
    <meta name="keywords" content="丹尼尔惠灵顿经典绅士佳人系列">
    <meta name="description" content="丹尼尔惠灵顿经典绅士佳人系列">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/danielwellington_files/style.css" rel="stylesheet">
    <script type="text/javascript" src="/static/danielwellington_files/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/static/danielwellington_files/layer.min.js"></script>
    <link type="text/css" rel="stylesheet" href="/static/danielwellington_files/layer.css" id="skinlayercss">
    <script type="text/javascript" src="/static/danielwellington_files/jquery.slides.js"></script>
    <script type="text/javascript" src="/static/danielwellington_files/yuding.js?v=1"></script>
    <script type="text/javascript"  src="/static/danielwellington_files/time.lesser.js"></script>
    <script type="text/javascript" src="/static/danielwellington_files/scroll.js"></script>
    <script type="text/javascript"  src="/static/danielwellington_files/notorder.js"></script>
    <script type="text/javascript" src="http://bxm-guide.oss-cn-shanghai.aliyuncs.com/dist/giftGroup/zjsh-1526.js"></script>
    <script type="text/javascript" src="http://tajs.qq.com/stats?sId=64091136" charset="UTF-8"></script>
    <script type="text/javascript">
$(function(){
	$('.myscroll').myScroll({
		speed: 40, //数值越大，速度越慢
		rowHeight:68 //li的高度
	});
	$('.myscrolls').myScroll({
		speed: 40, //数值越大，速度越慢
		rowHeight:18 //li的高度
	});
});
    </script>
    <!-- //先载入jquery -->
    <!-- //再载入lazyload -->
    <script type="text/javascript" src="/static/danielwellington_files/jquery.lazyload.js"></script>
    <script type="text/javascript">
$(document).ready(
function(){
$("img").lazyload({
    placeholder : "/static/danielwellington_files/grey.gif", //加载图片前的占位图片
     effect      : "fadeIn" //加载图片使用的效果(淡入)
});
});
    </script>
</head>
<body>
    <div class="index_page">

        <div class="top">
            <h1><img src="/static/danielwellington_files/logo.png" original="images/logo.png"></h1>
            <dl>
                <dt>丹尼尔惠灵顿经典绅士佳人系列</dt>
                <dd>
                    <li class="marright5">官方认证</li>
                    <li class="marright5">货到付款</li>
                    <li>七天无理由退款</li>
                </dd>
            </dl>
        </div>
        <div class="banner"><p><img src="/static/danielwellington_files/TB26UrBAstnpuFjSZFvXXbcTpXa_!!876442868.jpg" original="https://img.alicdn.com/imgextra/i4/876442868/TB26UrBAstnpuFjSZFvXXbcTpXa_!!876442868.jpg"></p></div>
        <div class="container-fluid f12">
            <div class="row">
                <div class="col-xs-7 h54 bf6">
                    <div class="jiage">￥<span>199</span></div>
                    <dl class="yishou">
                        <dt><s>￥1399元</s></dt>
                        <dd>16822 件已售</dd>
                    </dl>
                </div>
                <div class="col-xs-5 h54 p_x">
                    <dl class="time tC">
                        <dt>活动倒计时</dt>
                        <dd>
                            <div class="time-count">
                                <div id="remainTime_1" class="jltimer"><span>00</span>天<span>07</span>小时<span>04</span>分<span>27</span>秒</div>
                                <script language="javascript">
                            addTimeLesser(1, 25776);
                                </script>
                            </div>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="title">
            <div class="f20">丹尼尔惠灵顿经典绅士佳人系列</div>
            <div class="s_title">官方旗舰店销售，货到付款，7天无理由退款！</div>
            <div class="baoyou">
                <span class="by">顺丰包邮</span>
                <span class="huo">货到付款</span>
                <span class="tui">七天无理由退款</span>
            </div>
            <div class="gou cff"><a href="#ydname">立即抢购</a></div>
        </div>

        <div class="huodong">
            <div class="hdtit">活动说明</div>
            <div class="hdjs"><p><span style="color: rgb(51, 51, 51); line-height: 24px; text-indent: 28px; font-family: arial, 宋体, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);">瑞典时尚腕表 丹尼尔·惠灵顿（Daniel Wellington），以其时尚百搭的设计风格风靡中国</span><span style="color: rgb(51, 51, 51); line-height: 24px; text-indent: 28px; font-family: arial, 宋体, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);">。多彩的尼龙表带，轻薄的表身、干净的表盘塑造了DW</span><a style="color: rgb(19, 110, 194); line-height: 24px; text-indent: 28px; font-family: arial, 宋体, sans-serif; font-size: 14px; text-decoration: none; white-space: normal; background-color: rgb(255, 255, 255);" href="http://baike.baidu.com/view/1722727.htm" target="_blank">腕表</a><span style="color: rgb(51, 51, 51); line-height: 24px; text-indent: 28px; font-family: arial, 宋体, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);">百搭的书卷味的气质，让众多时尚达人爱不释手，在近年来的全球</span><a style="color: rgb(19, 110, 194); line-height: 24px; text-indent: 28px; font-family: arial, 宋体, sans-serif; font-size: 14px; text-decoration: none; white-space: normal; background-color: rgb(255, 255, 255);" href="http://baike.baidu.com/subview/5519/5755307.htm" target="_blank" data-lemmaid="8276">时尚</a><span style="color: rgb(51, 51, 51); line-height: 24px; text-indent: 28px; font-family: arial, 宋体, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);">圈掀起了一股绅士表款的风潮。在国外，它被称作是全球最热的腕表品牌，在Facebook和Twitter上都有极大的粉丝群，全球各大网站处处都可以看见它的踪影，发展至今，Daniel Wellington已经一跃成为各路时尚</span><a style="color: rgb(19, 110, 194); line-height: 24px; text-indent: 28px; font-family: arial, 宋体, sans-serif; font-size: 14px; text-decoration: none; white-space: normal; background-color: rgb(255, 255, 255);" href="http://baike.baidu.com/view/2453.htm" target="_blank">达人</a><span style="color: rgb(51, 51, 51); line-height: 24px; text-indent: 28px; font-family: arial, 宋体, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);">们提升格调的新兴腕表。</span></p></div>
        </div>

        <div class="huodong" style="padding-bottom:0px;">
            <div class="hdtit">购买流程</div>
            <div class="lcpic"><p><img src="/static/danielwellington_files/TB2XBcUqrJmpuFjSZFwXXaE4VXa_!!876442868.jpg" original="https://img.alicdn.com/imgextra/i3/876442868/TB2XBcUqrJmpuFjSZFwXXaE4VXa_!!876442868.jpg" style="display: inline;"></p></div>
        </div>

        <div class="huodong2">
            <div class="hdtit">产品详细介绍</div>
            <div class="cpxx img_div">
                <p>
                </p><p><img src="/static/danielwellington_files/TB2MFDGlSJjpuFjy0FdXXXmoFXa_!!876442868.jpg" original="https://img.alicdn.com/imgextra/i1/876442868/TB2MFDGlSJjpuFjy0FdXXXmoFXa_!!876442868.jpg" style="display: inline;"><br style="white-space: normal;"><img src="/static/danielwellington_files/TB23DSJn4BmpuFjSZFsXXcXpFXa_!!876442868.jpg" original="https://img.alicdn.com/imgextra/i4/876442868/TB23DSJn4BmpuFjSZFsXXcXpFXa_!!876442868.jpg" style="display: inline;"><br style="white-space: normal;"><img src="/static/danielwellington_files/TB2UmqLnZtnpuFjSZFKXXalFFXa_!!876442868.jpg" original="https://img.alicdn.com/imgextra/i4/876442868/TB2UmqLnZtnpuFjSZFKXXalFFXa_!!876442868.jpg" style="display: inline;"><br style="white-space: normal;"><img src="/static/danielwellington_files/TB2r5eyn9VmpuFjSZFFXXcZApXa_!!876442868.jpg" original="https://img.alicdn.com/imgextra/i1/876442868/TB2r5eyn9VmpuFjSZFFXXcZApXa_!!876442868.jpg" style="display: inline;"><br style="white-space: normal;"><img src="/static/danielwellington_files/TB24Tjon04opuFjSZFLXXX8mXXa_!!876442868.jpg" original="https://img.alicdn.com/imgextra/i3/876442868/TB24Tjon04opuFjSZFLXXX8mXXa_!!876442868.jpg" style="display: inline;"><br style="white-space: normal;"><img src="/static/danielwellington_files/TB272C3n5lnpuFjSZFgXXbi7FXa_!!876442868.jpg" original="https://img.alicdn.com/imgextra/i4/876442868/TB272C3n5lnpuFjSZFgXXbi7FXa_!!876442868.jpg" style="display: inline;"><br style="white-space: normal;"><img src="/static/danielwellington_files/TB2fXK2n.hnpuFjSZFEXXX0PFXa_!!876442868.jpg" original="https://img.alicdn.com/imgextra/i2/876442868/TB2fXK2n.hnpuFjSZFEXXX0PFXa_!!876442868.jpg" style="display: inline;"><br style="white-space: normal;"><img src="/static/danielwellington_files/TB2Zvy.lHVkpuFjSspcXXbSMVXa_!!876442868.jpg" original="https://img.alicdn.com/imgextra/i2/876442868/TB2Zvy.lHVkpuFjSspcXXbSMVXa_!!876442868.jpg" style="display: inline;"><br style="white-space: normal;"><img src="/static/danielwellington_files/TB2r9zclR0kpuFjSsppXXcGTXXa_!!876442868.jpg" original="https://img.alicdn.com/imgextra/i3/876442868/TB2r9zclR0kpuFjSsppXXcGTXXa_!!876442868.jpg" style="display: inline;"><br style="white-space: normal;"><img src="/static/danielwellington_files/TB2r_eFlNXlpuFjSsphXXbJOXXa_!!876442868.jpg" original="https://img.alicdn.com/imgextra/i4/876442868/TB2r_eFlNXlpuFjSsphXXbJOXXa_!!876442868.jpg" style="display: inline;"><br style="white-space: normal;"><img src="/static/danielwellington_files/TB23nvhlMJlpuFjSspjXXcT.pXa_!!876442868.jpg" original="https://img.alicdn.com/imgextra/i1/876442868/TB23nvhlMJlpuFjSspjXXcT.pXa_!!876442868.jpg" style="display: inline;"><br style="white-space: normal;"><img src="/static/danielwellington_files/TB2m_qrlSXlpuFjy0FeXXcJbFXa_!!876442868.jpg" original="https://img.alicdn.com/imgextra/i3/876442868/TB2m_qrlSXlpuFjy0FeXXcJbFXa_!!876442868.jpg" style="display: inline;"><br style="white-space: normal;"><img src="/static/danielwellington_files/TB2pzmLlHXlpuFjSszfXXcSGXXa_!!876442868.jpg" original="https://img.alicdn.com/imgextra/i3/876442868/TB2pzmLlHXlpuFjSszfXXcSGXXa_!!876442868.jpg" style="display: inline;"><br style="white-space: normal;"><img src="/static/danielwellington_files/TB2N9zilR8kpuFjSspeXXc7IpXa_!!876442868.jpg" original="https://img.alicdn.com/imgextra/i3/876442868/TB2N9zilR8kpuFjSspeXXc7IpXa_!!876442868.jpg" style="display: inline;"><br style="white-space: normal;"><img src="/static/danielwellington_files/TB2bj5BlNdkpuFjy0FbXXaNnpXa_!!876442868.jpg" original="https://img.alicdn.com/imgextra/i1/876442868/TB2bj5BlNdkpuFjy0FbXXaNnpXa_!!876442868.jpg" style="display: inline;"><br style="white-space: normal;"><img src="/static/danielwellington_files/TB2zP5BlNdkpuFjy0FbXXaNnpXa_!!876442868.jpg" original="https://img.alicdn.com/imgextra/i3/876442868/TB2zP5BlNdkpuFjy0FbXXaNnpXa_!!876442868.jpg" style="display: inline;"><br style="white-space: normal;"><img src="/static/danielwellington_files/TB255a4nYlmpuFjSZFlXXbdQXXa_!!876442868.jpg" original="https://img.alicdn.com/imgextra/i1/876442868/TB255a4nYlmpuFjSZFlXXbdQXXa_!!876442868.jpg" style="display: inline;"><br style="white-space: normal;"><img src="/static/danielwellington_files/TB2Ese2lHJkpuFjy1zcXXa5FFXa_!!876442868.jpg" original="https://img.alicdn.com/imgextra/i2/876442868/TB2Ese2lHJkpuFjy1zcXXa5FFXa_!!876442868.jpg" style="display: inline;"><br style="white-space: normal;"><img src="/static/danielwellington_files/TB2bz5mn7qvpuFjSZFhXXaOgXXa_!!876442868.jpg" original="https://img.alicdn.com/imgextra/i1/876442868/TB2bz5mn7qvpuFjSZFhXXaOgXXa_!!876442868.jpg" style="display: inline;"><br style="white-space: normal;"><img src="/static/danielwellington_files/TB2F.C2n0RopuFjSZFtXXcanpXa_!!876442868.jpg" original="https://img.alicdn.com/imgextra/i3/876442868/TB2F.C2n0RopuFjSZFtXXcanpXa_!!876442868.jpg" style="display: inline;"><br style="white-space: normal;"><img src="/static/danielwellington_files/TB2tbVNiTcCL1FjSZFPXXXZgpXa_!!876442868.jpg" original="https://img.alicdn.com/imgextra/i4/876442868/TB2tbVNiTcCL1FjSZFPXXXZgpXa_!!876442868.jpg" style="display: inline;"><br style="white-space: normal;"><img src="/static/danielwellington_files/TB2Wu9onYBnpuFjSZFGXXX51pXa_!!876442868.jpg" original="https://img.alicdn.com/imgextra/i4/876442868/TB2Wu9onYBnpuFjSZFGXXX51pXa_!!876442868.jpg" style="display: inline;"><br style="white-space: normal;"><img src="/static/danielwellington_files/TB2LG1Wn0FopuFjSZFHXXbSlXXa_!!876442868.jpg" original="https://img.alicdn.com/imgextra/i2/876442868/TB2LG1Wn0FopuFjSZFHXXbSlXXa_!!876442868.jpg" style="display: inline;"><br style="white-space: normal;"><img src="/static/danielwellington_files/TB2M5i4nYlmpuFjSZFlXXbdQXXa_!!876442868.jpg" original="https://img.alicdn.com/imgextra/i1/876442868/TB2M5i4nYlmpuFjSZFlXXbdQXXa_!!876442868.jpg" style="display: inline;"><br style="white-space: normal;"><img src="/static/danielwellington_files/TB27kC8n5pnpuFjSZFkXXc4ZpXa_!!876442868.jpg" original="https://img.alicdn.com/imgextra/i4/876442868/TB27kC8n5pnpuFjSZFkXXc4ZpXa_!!876442868.jpg" style="display: inline;"><br style="white-space: normal;"><img src="/static/danielwellington_files/TB2bJ_fn98mpuFjSZFMXXaxpVXa_!!876442868.jpg" original="https://img.alicdn.com/imgextra/i4/876442868/TB2bJ_fn98mpuFjSZFMXXaxpVXa_!!876442868.jpg" style="display: inline;"><br style="white-space: normal;"><img src="/static/danielwellington_files/TB2ETwIiutTMeFjSZFOXXaTiVXa_!!876442868.jpg" original="https://img.alicdn.com/imgextra/i2/876442868/TB2ETwIiutTMeFjSZFOXXaTiVXa_!!876442868.jpg" style="display: inline;"><br style="white-space: normal;"><img src="/static/danielwellington_files/TB29wPon4lmpuFjSZPfXXc9iXXa_!!876442868.jpg" original="https://img.alicdn.com/imgextra/i4/876442868/TB29wPon4lmpuFjSZPfXXc9iXXa_!!876442868.jpg" style="display: inline;"><br style="white-space: normal;"><img src="/static/danielwellington_files/TB26UK2n0RopuFjSZFtXXcanpXa_!!876442868.jpg" original="https://img.alicdn.com/imgextra/i1/876442868/TB26UK2n0RopuFjSZFtXXcanpXa_!!876442868.jpg" style="display: inline;"><br style="white-space: normal;"><img src="/static/danielwellington_files/TB2.Zmen0BopuFjSZPcXXc9EpXa_!!876442868.jpg" original="https://img.alicdn.com/imgextra/i1/876442868/TB2.Zmen0BopuFjSZPcXXc9EpXa_!!876442868.jpg" style="display: inline;"><br style="white-space: normal;"><img src="/static/danielwellington_files/TB2uomJn4BmpuFjSZFsXXcXpFXa_!!876442868.jpg" original="https://img.alicdn.com/imgextra/i3/876442868/TB2uomJn4BmpuFjSZFsXXcXpFXa_!!876442868.jpg" style="display: inline;"><br style="white-space: normal;"><img src="/static/danielwellington_files/TB2_ejan9FmpuFjSZFrXXayOXXa_!!876442868.jpg" original="https://img.alicdn.com/imgextra/i4/876442868/TB2_ejan9FmpuFjSZFrXXayOXXa_!!876442868.jpg" style="display: inline;"><br style="white-space: normal;"><img src="/static/danielwellington_files/TB2Zcqen0BopuFjSZPcXXc9EpXa_!!876442868.jpg" original="https://img.alicdn.com/imgextra/i4/876442868/TB2Zcqen0BopuFjSZPcXXc9EpXa_!!876442868.jpg" style="display: inline;"><img src="/static/danielwellington_files/TB2y6O9at1HJuJjSZFkXXcC1XXa_!!876442868.jpg" original="https://img.alicdn.com/imgextra/i4/876442868/TB2y6O9at1HJuJjSZFkXXcC1XXa_!!876442868.jpg" style="display: inline;"><img src="/static/danielwellington_files/TB2AjFNX8GBJuJjSszhXXbQDpXa_!!876442868.gif" original="https://img.alicdn.com/imgextra/i1/876442868/TB2AjFNX8GBJuJjSszhXXbQDpXa_!!876442868.gif" style="display: inline;"><img src="/static/danielwellington_files/TB2JFRIX3OFJuJjy1zjXXXp7pXa_!!876442868.gif" original="https://img.alicdn.com/imgextra/i2/876442868/TB2JFRIX3OFJuJjy1zjXXXp7pXa_!!876442868.gif" style="display: inline;"><img src="/static/danielwellington_files/TB2gj8MafDWJKJjSZPhXXXQ5pXa_!!876442868.gif" original="https://img.alicdn.com/imgextra/i2/876442868/TB2gj8MafDWJKJjSZPhXXXQ5pXa_!!876442868.gif" style="display: inline;"><img src="/static/danielwellington_files/TB2ctG.ax5GJuJjSZFrXXcDYXXa_!!876442868.gif" original="https://img.alicdn.com/imgextra/i4/876442868/TB2ctG.ax5GJuJjSZFrXXcDYXXa_!!876442868.gif" style="display: inline;"><img src="/static/danielwellington_files/TB29L.PabUOJuJjSZPfXXaSqXXa_!!876442868.gif" original="https://img.alicdn.com/imgextra/i1/876442868/TB29L.PabUOJuJjSZPfXXaSqXXa_!!876442868.gif" style="display: inline;"><img src="/static/danielwellington_files/TB22u_bXPjmJKJjy0FjXXcLnFXa_!!876442868.gif" original="https://img.alicdn.com/imgextra/i4/876442868/TB22u_bXPjmJKJjy0FjXXcLnFXa_!!876442868.gif" style="display: inline;"><img src="/static/danielwellington_files/TB2ySu9aCuFJuJjSZJiXXXC4XXa_!!876442868.gif" original="https://img.alicdn.com/imgextra/i3/876442868/TB2ySu9aCuFJuJjSZJiXXXC4XXa_!!876442868.gif" style="display: inline;"><img src="/static/danielwellington_files/TB29.nXax5GJuJjSZFFXXagvFXa_!!876442868.gif" original="https://img.alicdn.com/imgextra/i3/876442868/TB29.nXax5GJuJjSZFFXXagvFXa_!!876442868.gif" style="display: inline;"><img src="/static/danielwellington_files/TB23W0HXZaCJuJjy1zkXXbelVXa_!!876442868.gif" original="https://img.alicdn.com/imgextra/i3/876442868/TB23W0HXZaCJuJjy1zkXXbelVXa_!!876442868.gif" style="display: inline;"><br style="white-space: normal;"><img src="/static/danielwellington_files/TB2NPCLlHXlpuFjSszfXXcSGXXa_!!876442868.jpg" original="https://img.alicdn.com/imgextra/i1/876442868/TB2NPCLlHXlpuFjSszfXXcSGXXa_!!876442868.jpg" style="display: inline;"><br style="white-space: normal;"><img src="/static/danielwellington_files/TB2qVYblHRkpuFjSspmXXc.9XXa_!!876442868.jpg" original="https://img.alicdn.com/imgextra/i3/876442868/TB2qVYblHRkpuFjSspmXXc.9XXa_!!876442868.jpg" style="display: inline;"><br style="white-space: normal;"><img src="/static/danielwellington_files/TB2X_CFlNXlpuFjSsphXXbJOXXa_!!876442868.jpg" original="https://img.alicdn.com/imgextra/i4/876442868/TB2X_CFlNXlpuFjSsphXXbJOXXa_!!876442868.jpg" style="display: inline;"><br style="white-space: normal;"><img src="/static/danielwellington_files/TB2z0CJlH0kpuFjy0FjXXcBbVXa_!!876442868.jpg" original="https://img.alicdn.com/imgextra/i1/876442868/TB2z0CJlH0kpuFjy0FjXXcBbVXa_!!876442868.jpg" style="display: inline;"><br style="white-space: normal;"><img src="/static/danielwellington_files/TB2j.DklR8lpuFjy0FnXXcZyXXa_!!876442868.jpg" original="https://img.alicdn.com/imgextra/i4/876442868/TB2j.DklR8lpuFjy0FnXXcZyXXa_!!876442868.jpg" style="display: inline;"><br style="white-space: normal;"><img src="/static/danielwellington_files/TB2mfnFlSFjpuFjSszhXXaBuVXa_!!876442868.jpg" original="https://img.alicdn.com/imgextra/i1/876442868/TB2mfnFlSFjpuFjSszhXXaBuVXa_!!876442868.jpg" style="display: inline;"><br style="white-space: normal;"><img src="/static/danielwellington_files/TB2xsyllMJkpuFjSszcXXXfsFXa_!!876442868.jpg" original="https://img.alicdn.com/imgextra/i3/876442868/TB2xsyllMJkpuFjSszcXXXfsFXa_!!876442868.jpg" style="display: inline;"><br style="white-space: normal;"><img src="/static/danielwellington_files/TB21LnFlSFjpuFjSszhXXaBuVXa_!!876442868.jpg" original="https://img.alicdn.com/imgextra/i1/876442868/TB21LnFlSFjpuFjSszhXXaBuVXa_!!876442868.jpg" style="display: inline;"><br style="white-space: normal;"><img src="/static/danielwellington_files/TB2f0KJlH0kpuFjy0FjXXcBbVXa_!!876442868.jpg" original="https://img.alicdn.com/imgextra/i2/876442868/TB2f0KJlH0kpuFjy0FjXXcBbVXa_!!876442868.jpg" style="display: inline;"><br style="white-space: normal;"><img src="/static/danielwellington_files/TB2snKFlNXlpuFjSsphXXbJOXXa_!!876442868.jpg" original="https://img.alicdn.com/imgextra/i2/876442868/TB2snKFlNXlpuFjSsphXXbJOXXa_!!876442868.jpg" style="display: inline;"></p>
                <p></p>
            </div>
        </div>

        <div class="huodong" id="ydname">
            <div class="hdtit c00">订单信息填写</div>
            <form name="myform" id="myform" method="post" action="/Third/danielwellingtonPost">
                <input type="hidden" name="orderid" id="orderid" value="no.2017118171830152">
                <div class="w100">
                    <div class="product">款式选择<span>*</span></div>
                    <div class="kuansxzs f12">
                        <ul>
                            <!--<li class="mouon">黑色 獭兔毛领<input name="xianlu" type="radio"></li>-->

                            <li class="ks">经典绅士男表 Classic Sheffield 40mm 199元 <input name="product" jiage="199" type="radio" value="经典绅士男表 Classic Sheffield 40mm 199元 "></li>

                            <li class="ks">经典佳人女表  Classic Canterbury  36mm 199元<input name="product" jiage=" 199" type="radio" value="经典佳人女表  Classic Canterbury  36mm 199元"></li>

                            <li class="ks">经典之情侣组合 Classic Couples 40mm+36mm 388元 <input name="product" jiage=" 388" type="radio" value="经典之情侣组合 Classic Couples 40mm+36mm 388元 "></li>

                            <li class="ks">新款钢带女表Classic Petite  32mm199元<input name="product" jiage=" 199" type="radio" value="新款钢带女表Classic Petite  32mm199元"></li>

                        </ul>
                    </div>

                    <div class="product">颜色选择<span>*</span></div>
                    <div class="chicun">
                        <ul>
                            <li class="cc">DW00100007-白盘金框黑带+尼龙表带<input name="yanse" type="radio" value="DW00100007-白盘金框黑带+尼龙表带"></li>
                            <li class="cc">DW00100008-白盘金框棕带+尼龙表带<input name="yanse" type="radio" value="DW00100008-白盘金框棕带+尼龙表带"></li>
                            <li class="cc">DW00100009-白盘银框黑带+尼龙表带<input name="yanse" type="radio" value="DW00100009-白盘银框黑带+尼龙表带"></li>
                            <li class="cc">DW00100010-白盘银框棕带+尼龙表带<input name="yanse" type="radio" value="DW00100010-白盘银框棕带+尼龙表带"></li>
                            <li class="cc">DW00100011-黑盘金框黑带+尼龙表带<input name="yanse" type="radio" value="DW00100011-黑盘金框黑带+尼龙表带"></li>
                            <li class="cc">DW00100012-黑盘金框棕带+尼龙表带<input name="yanse" type="radio" value="DW00100012-黑盘金框棕带+尼龙表带"></li>
                            <li class="cc">DW00100013-黑盘银框黑带+尼龙表带<input name="yanse" type="radio" value="DW00100013-黑盘银框黑带+尼龙表带"></li>
                            <li class="cc">DW00100014-黑盘银框棕带+尼龙表带<input name="yanse" type="radio" value="DW00100014-黑盘银框棕带+尼龙表带"></li>
                            <li class="cc">DW00100015-新款钢带女表（32mm）金色边白盘<input name="yanse" type="radio" value="DW00100015-新款钢带女表（32mm）金色边白盘"></li>
                            <li class="cc">DW00100016-新款钢带女表（32mm）金色边黑盘<input name="yanse" type="radio" value="DW00100016-新款钢带女表（32mm）金色边黑盘"></li>
                            <li class="cc">DW00100017-新款钢带女表（32mm）银色边白盘<input name="yanse" type="radio" value="DW00100017-新款钢带女表（32mm）银色边白盘"></li>
                            <li class="cc">DW00100018-新款钢带女表（32mm）银色边黑盘<input name="yanse" type="radio" value="DW00100018-新款钢带女表（32mm）银色边黑盘"></li>
                        </ul>
                    </div>

                    <div class="product">购买数量<span>*</span></div>
                    <div class="numb">
                        <span><input id="min1" name="" type="button" value="-"></span>
                        <em><input id="text_box1" name="mun" type="text" value="1" onfocus="this.blur()"></em>
                        <span><input id="add1" name="" type="button" value="+" onfocus="this.blur()"></span>
                        <p>库存 <b class="zhuhong" id="_kucun"></b> 件，每人限购 <b class="zhuhong" id="_xiangou"></b> 件</p>
                        <input id="danjia" name="danjia" type="hidden" value="199">
                        <input id="action" name="action" type="hidden" value="order">
                        <input id="zhuid" name="zhuid" type="hidden" value="1">
                        <input id="kuanid" name="kuanid" type="hidden" value="0">
                        <input id="chiid" name="chiid" type="hidden" value="0">
                        <input name="price" id="price" value="199" type="hidden">
                    </div>

                    <div class="product">商品总价<span>*</span></div>
                    <!---商品加减算总数---->
                    <script type="text/javascript">
                $(function () {
                var t = $("#text_box1");
                $("#add1").click(function () {
				var flag=false;
				var product = document.getElementsByName('product');
				for(var i=0;i<product.length;i++){
				if($(product[i]).attr("checked")=="checked")
				{flag=true;}
				}
				if(flag==false)
				{
					layer.msg('请选择款式！',1,-1);
				exit;
				}

try{
  var yanse = document.getElementsByName("yanse");
  if (yanse.length != 0){
     var numa=0;
     for (var i=0; i<yanse.length; i++){
      if(yanse[i].checked) {
      numa++;
      }
     }
     if(numa==0) {
      layer.msg('请选择要购买颜色！',1,-1);
      return false;
      }
   }
}catch(ex){}

try{
  var chicun = document.getElementsByName("chicun");
  if (chicun.length != 0){
     var numa=0;
     for (var i=0; i<chicun.length; i++){
      if(chicun[i].checked) {
      numa++;
      }
     }
     if(numa==0) {
      layer.msg('请选择要购买尺码！',1,-1);
      return false;
      }
   }
}catch(ex){}

				var _xiangou=$("#_xiangou").text();
				_xiangou=parseInt(_xiangou);

				if(_xiangou==t.val())
				{

					layer.msg("每人限购"+_xiangou+"件",1,-1);
					exit;
				}

                t.val(parseInt(t.val()) + 1)

                setTotal(); //GetCount();
                })
                $("#min1").click(function () {
				var flag=false;
				var product = document.getElementsByName('product');
				for(var i=0;i<product.length;i++){
				if($(product[i]).attr("checked")=="checked")
				{flag=true;}
				}
				if(flag==false)
				{
					layer.msg('请选择款式！',1,-1);
				exit;
				}

 try{
  var yanse = document.getElementsByName("yanse");
  if (yanse.length != 0){
     var numa=0;
     for (var i=0; i<yanse.length; i++){
      if(yanse[i].checked) {
      numa++;
      }
     }
     if(numa==0) {
      layer.msg('请选择要购买颜色！',1,-1);
      return false;
      }
   }
}catch(ex){}

try{
  var chicun = document.getElementsByName("chicun");
  if (chicun.length != 0){
     var numa=0;
     for (var i=0; i<chicun.length; i++){
      if(chicun[i].checked) {
      numa++;
      }
     }
     if(numa==0) {
      layer.msg('请选择要购买尺码！',1,-1);
      return false;
      }
   }
}catch(ex){}


                if(t.val()>1){
                t.val(parseInt(t.val()) - 1)
                setTotal(); //GetCount();
				}

                })
                function setTotal() {
				var danjia=$("#danjia").val();
                $("#total1").html((parseInt(t.val()) * parseInt(danjia)).toFixed(0));
                $("#price").val((parseInt(t.val()) * parseInt(danjia)).toFixed(0));
                $("#newslist-1").val(parseInt(t.val()) * parseInt(danjia));
                }

                $(".ks").click(function(){

                var objradio=$(this).find(':radio[name="product"]');

				$(this).addClass('mouon').siblings().removeClass('mouon');

				var product = document.getElementsByName('product');
				for(var i=0;i<product.length;i++){
				$(product[i]).attr("checked",false);
				}
				$(objradio).attr("checked","checked");
				var jiage=$(objradio).attr("jiage");
				$("#danjia").val(jiage);
				var flag=false;
				var product = document.getElementsByName('product');
				for(var i=0;i<product.length;i++){
				if($(product[i]).attr("checked")=="checked")
				{flag=true;}
				}
				if(flag==false)
				{
				layer.msg('请选择款式！',1,-1);
				exit;
				}
				setTotal();
                })

				$(".cc").click(function(){
                var flag=false;
				var product = document.getElementsByName('product');
				for(var i=0;i<product.length;i++){
				if($(product[i]).attr("checked")=="checked")
				{flag=true;}
				}
				if(flag==false)
				{
					layer.msg('请选择款式！',1,-1);
				exit;
				}
                var objradio=$(this).find(':radio[name="chicun"]');
                //$(this).attr("class","mouon");
				$(this).addClass('mouon').siblings().removeClass('mouon');

				var chicun = document.getElementsByName('chicun');
				for(var i=0;i<chicun.length;i++){
				$(chicun[i]).attr("checked",false);
				}
				$(objradio).attr("checked","checked");
                })

                })
                    </script>
                    <div class="kuansxz">
                        <span class="mouon f18">￥ <b id="total1">199</b> 元</span>
                    </div>

                    <div class="product">付款方式<span>*</span></div>
                    <div class="car">
                        <span class="mouon f18 carbg">货到付款</span>
                        <span class="baoy" style="border:none; padding-left:6px;">支持全国货到付款，免邮费！</span>
                    </div>

                    <div class="product">收货人姓名<span>*</span></div>
                    <div class="pad"><input type="text" name="name" class="form-control bod2" placeholder="请输入收货人的姓名或者称呼"></div>

                    <div class="product">联系手机<span>*</span></div>
                    <div class="pad"><input type="tel" name="mob" class="form-control bod2" placeholder="请输入您的手机号码" maxlength="11" onkeyup="this.value=this.value.replace(/\D/g,&#39;&#39;)"></div>

                    <div class="product">所在地区<span>*</span></div>
                    <div class="pad">
                        <select id="s_province" name="province" class="form-control bod2"><option value="所属省份">所属省份</option><option value="北京市">北京市</option><option value="天津市">天津市</option><option value="上海市">上海市</option><option value="重庆市">重庆市</option><option value="河北省">河北省</option><option value="山西省">山西省</option><option value="内蒙古">内蒙古</option><option value="辽宁省">辽宁省</option><option value="吉林省">吉林省</option><option value="黑龙江省">黑龙江省</option><option value="江苏省">江苏省</option><option value="浙江省">浙江省</option><option value="安徽省">安徽省</option><option value="福建省">福建省</option><option value="江西省">江西省</option><option value="山东省">山东省</option><option value="河南省">河南省</option><option value="湖北省">湖北省</option><option value="湖南省">湖南省</option><option value="广东省">广东省</option><option value="广西">广西</option><option value="海南省">海南省</option><option value="四川省">四川省</option><option value="贵州省">贵州省</option><option value="云南省">云南省</option><option value="西藏">西藏</option><option value="陕西省">陕西省</option><option value="甘肃省">甘肃省</option><option value="青海省">青海省</option><option value="宁夏">宁夏</option><option value="新疆">新疆</option><option value="香港">香港</option><option value="澳门">澳门</option><option value="台湾省">台湾省</option></select>
                        <select id="s_city" name="city" class="form-control bod2 mar_t"><option value="所属地级市">所属地级市</option></select>
                        <select id="s_county" name="area" class="form-control bod2"><option value="所属市、县级市">所属市、县级市</option></select>
                        <script class="resources library" src="/static/danielwellington_files/area.js" type="text/javascript"></script>
                        <script type="text/javascript">_init_area();</script>
                        <script type="text/javascript">
					var Gid  = document.getElementById ;
					var showArea = function(){
						Gid('show').innerHTML = "<h3>省" + Gid('s_province').value + " - 市" +
						Gid('s_city').value + " - 县/区" +
						Gid('s_county').value + "</h3>"
					}
					Gid('s_county').setAttribute('onchange','showArea()');
                        </script>
                    </div>

                    <div class="product">详细地址<span>*</span></div>
                    <div class="pad"><input type="text" name="address" class="form-control bod2" placeholder="请输入您的详细地址，方便快递员上门送货"></div>

                    <div class="product">备注信息 （选填）</div>
                    <div class="pad"><textarea name="guest" class="form-control bod2" rows="3" placeholder="请输入您对商品的特殊要求，如商品颜色、数量等"></textarea></div>
                    <!--
                    <div class="product">请输入下方右侧验证码<span>*</span></div>
                    <div class="pad" style="height:60px;"><input type="text" name="yzm" placeholder="输入验证码" class="form-control bod2" maxlength="4" style="width:120px; text-align:center; float:left;"><img src="index/grey.gif" onclick="javascript:this.src=&#39;code.php?tm=&#39;+Math.random();" style="float:left; border:1px solid #dedede; height:46px; margin-left:20px;" original="code.php"></div>
                    -->
                    <script>getfrom();</script><input type="hidden" name="fromurl" value=""><input type="hidden" name="nowurl" value=""><input type="hidden" name="keyword" value=""><input type="hidden" name="gzid" value="16">
                    <div class="gou cff"><a id="tijiao" href="javascript:;" onclick="return check();">我填好了  提交订单</a></div>
                </div>
            </form>

        </div>
        <div class="huodong2">
            <div class="hdtit">客户评价</div>
            <script src="/static/danielwellington_files/fh.js"></script>
            <div class="myscroll">
                <ul style="margin-top: -11px;">
                    <script>
document.writeln("            <li class=\"bord_l\">");
document.writeln("                <div class=\"bord_l\">"+GetDateStr(-1)+quotes[parseInt(Math.random()*22+1)]+quotess[parseInt(Math.random()*22+1)]+"<\/div>");
document.writeln("                <div class=\"li_bord\">开始怕是假的拿去家旁边百货公司专柜验证了100%正品全国联保啊！自从买了这块DW表，除了睡觉就没摘下来过<\/div>");
document.writeln("            <\/li>");
                    </script>

                    <script>
document.writeln("            <li class=\"bord_l\">");
document.writeln("                <div class=\"bord_l\">"+GetDateStr(-1)+quotes[parseInt(Math.random()*22+1)]+quotess[parseInt(Math.random()*22+1)]+"<\/div>");
document.writeln("                <div class=\"li_bord\">好看，很有不一样的气质，完美DW，给五星质量很好，很满意！<\/div>");
document.writeln("            <\/li>");
                    </script>

                    <script>
document.writeln("            <li class=\"bord_l\">");
document.writeln("                <div class=\"bord_l\">"+GetDateStr(-1)+quotes[parseInt(Math.random()*22+1)]+quotess[parseInt(Math.random()*22+1)]+"<\/div>");
document.writeln("                <div class=\"li_bord\">dw的表一直很简约,喜欢很久了,今天终于入了一块。皮带没有想象中的那么硬,快递速度快得惊人。包装也很漂亮。满分。<\/div>");
document.writeln("            <\/li>");
                    </script>

                    <script>
document.writeln("            <li class=\"bord_l\">");
document.writeln("                <div class=\"bord_l\">"+GetDateStr(-1)+quotes[parseInt(Math.random()*22+1)]+quotess[parseInt(Math.random()*22+1)]+"<\/div>");
document.writeln("                <div class=\"li_bord\">简单大方有气质，时尚百搭文艺范,百搭的DW。其实我就是来炫耀才华的，啊哈哈哈哈哈。<\/div>");
document.writeln("            <\/li>");
                    </script>

                    <script>
document.writeln("            <li class=\"bord_l\">");
document.writeln("                <div class=\"bord_l\">"+GetDateStr(-1)+quotes[parseInt(Math.random()*22+1)]+quotess[parseInt(Math.random()*22+1)]+"<\/div>");
document.writeln("                <div class=\"li_bord\">手表简约而不简单，很时尚，很好搭配！喜欢这个dw牌子很久了，表示很赞！客服的服务也是很棒，没啥好说的，5星好评！<\/div>");
document.writeln("            <\/li>");
                    </script>

                    <script>
document.writeln("            <li class=\"bord_l\">");
document.writeln("                <div class=\"bord_l\">"+GetDateStr(-1)+quotes[parseInt(Math.random()*22+1)]+quotess[parseInt(Math.random()*22+1)]+"<\/div>");
document.writeln("                <div class=\"li_bord\">手表挺好看的，带起来很高大上，哈哈，喜欢！！最主要的价格还这么实惠哦哦哦，今天帮我哥也定了一款哈哈。<\/div>");
document.writeln("            <\/li>");
                    </script>

                    <script>
document.writeln("            <li class=\"bord_l\">");
document.writeln("                <div class=\"bord_l\">"+GetDateStr(-1)+quotes[parseInt(Math.random()*22+1)]+quotess[parseInt(Math.random()*22+1)]+"<\/div>");
document.writeln("                <div class=\"li_bord\">我很喜欢买手表，这个品牌这个价格真的超级超值啊，手表制作的很精细，大爱……！<\/div>");
document.writeln("            <\/li>");
                    </script>

                    <script>
document.writeln("            <li class=\"bord_l\">");
document.writeln("                <div class=\"bord_l\">"+GetDateStr(-1)+quotes[parseInt(Math.random()*22+1)]+quotess[parseInt(Math.random()*22+1)]+"<\/div>");
document.writeln("                <div class=\"li_bord\">有的时候我觉得，喜欢一块手表就好像喜欢一个人，她的高矮胖瘦，她是不是符合你的标准，第一次见到她就觉得好，浏览过茫茫人海，还是觉得她好，她什么都好。。<\/div>");
document.writeln("            <\/li>");
                    </script>

                    <script>
document.writeln("            <li class=\"bord_l\">");
document.writeln("                <div class=\"bord_l\">"+GetDateStr(-1)+quotes[parseInt(Math.random()*22+1)]+quotess[parseInt(Math.random()*22+1)]+"<\/div>");
document.writeln("                <div class=\"li_bord\">dw手表很精致很好看表盘简约时尚这是十分吸引我的一点表带是真皮的不是很硬戴起来很舒服总体好评值这个价<\/div>");
document.writeln("            <\/li>");
                    </script>

                    <li class="bord_l">
                        <div class="bord_l">2017-11-7 湖北的 134xxxx1198</div>
                        <div class="li_bord">有的时候我觉得，喜欢一块手表就好像喜欢一个人，她的高矮胖瘦，她是不是符合你的标准，第一次见到她就觉得好，浏览过茫茫人海，还是觉得她好，她什么都好。。</div>
                    </li>
                    <li class="bord_l">
                        <div class="bord_l">2017-11-7 广东的 131xxxx1626</div>
                        <div class="li_bord">dw手表很精致很好看表盘简约时尚这是十分吸引我的一点表带是真皮的不是很硬戴起来很舒服总体好评值这个价</div>
                    </li>
                    <li class="bord_l">
                        <div class="bord_l">2017-11-7 福建的 131xxxx8759</div>
                        <div class="li_bord">开始怕是假的拿去家旁边百货公司专柜验证了100%正品全国联保啊！自从买了这块DW表，除了睡觉就没摘下来过</div>
                    </li>
                    <li class="bord_l">
                        <div class="bord_l">2017-11-7 河北的 132xxxx5682</div>
                        <div class="li_bord">好看，很有不一样的气质，完美DW，给五星质量很好，很满意！</div>
                    </li>
                    <li class="bord_l">
                        <div class="bord_l">2017-11-7 重庆的 132xxxx2112</div>
                        <div class="li_bord">dw的表一直很简约,喜欢很久了,今天终于入了一块。皮带没有想象中的那么硬,快递速度快得惊人。包装也很漂亮。满分。</div>
                    </li>
                    <li class="bord_l">
                        <div class="bord_l">2017-11-7 福建的 133xxxx1626</div>
                        <div class="li_bord">简单大方有气质，时尚百搭文艺范,百搭的DW。其实我就是来炫耀才华的，啊哈哈哈哈哈。</div>
                    </li>
                    <li class="bord_l">
                        <div class="bord_l">2017-11-7 山西的 134xxxx1198</div>
                        <div class="li_bord">手表简约而不简单，很时尚，很好搭配！喜欢这个dw牌子很久了，表示很赞！客服的服务也是很棒，没啥好说的，5星好评！</div>
                    </li>
                    <li class="bord_l">
                        <div class="bord_l">2017-11-7 湖南的 139xxxx2278</div>
                        <div class="li_bord">手表挺好看的，带起来很高大上，哈哈，喜欢！！最主要的价格还这么实惠哦哦哦，今天帮我哥也定了一款哈哈。</div>
                    </li>
                    <li class="bord_l">
                        <div class="bord_l">2017-11-7 海南的 137xxxx0981</div>
                        <div class="li_bord">我很喜欢买手表，这个品牌这个价格真的超级超值啊，手表制作的很精细，大爱……！</div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="huodong2">
            <div class="hdtit">发货通知</div>
            <div class="myscroll">
                <ul style="margin-top: -63px;">
                    <script>
var not3chanpin=new Array("经典绅士男表 Classic Sheffield 40mm 199元 ","经典佳人女表  Classic Canterbury  36mm 199元","经典之情侣组合 Classic Couples 40mm+36mm 388元 ","新款钢带女表Classic Petite  32mm199元");
var not3yanse=new Array(" DW00100007-白盘金框黑带+尼龙表带"," DW00100008-白盘金框棕带+尼龙表带"," DW00100009-白盘银框黑带+尼龙表带"," DW00100010-白盘银框棕带+尼龙表带"," DW00100011-黑盘金框黑带+尼龙表带"," DW00100012-黑盘金框棕带+尼龙表带"," DW00100013-黑盘银框黑带+尼龙表带"," DW00100014-黑盘银框棕带+尼龙表带"," DW00100015-新款钢带女表（32mm）金色边白盘"," DW00100016-新款钢带女表（32mm）金色边黑盘"," DW00100017-新款钢带女表（32mm）银色边白盘"," DW00100018-新款钢带女表（32mm）银色边黑盘");
var not3chima=new Array();
                    </script>
                    <script src="/static/danielwellington_files/fahuo.js"></script>


                    <li class="bord_l">
                        <div class="bord_l">2017 - 11 - 7  重庆的 刘先生 （136 **** 5858）</div>
                        <div class="li_bord">经典绅士男表 Classic Sheffield 40mm 199元  DW00100014-黑盘银框棕带+尼龙表带 [ 1件 ] 已发货 <strong>√</strong></div>
                    </li>
                    <li class="bord_l">
                        <div class="bord_l">2017 - 11 - 7  辽宁的 赵先生 （158 **** 7721）</div>
                        <div class="li_bord">经典绅士男表 Classic Sheffield 40mm 199元  DW00100017-新款钢带女表（32mm）银色边白盘 [ 3件 ] 已发货 <strong>√</strong></div>
                    </li>
                    <li class="bord_l">
                        <div class="bord_l">2017 - 11 - 7  河北的 李小姐 （187 **** 5587）</div>
                        <div class="li_bord">经典佳人女表  Classic Canterbury  36mm 199元 DW00100007-白盘金框黑带+尼龙表带 [ 1件 ] 已发货 <strong>√</strong></div>
                    </li>
                    <li class="bord_l">
                        <div class="bord_l">2017 - 11 - 7  河南的 刘小姐 （189 **** 2158）</div>
                        <div class="li_bord">新款钢带女表Classic Petite  32mm199元 DW00100011-黑盘金框黑带+尼龙表带  [ 2件 ] 已发货 <strong>√</strong></div>
                    </li>
                    <li class="bord_l">
                        <div class="bord_l">2017 - 11 - 7  广西的 张先生 （152 **** 4850）</div>
                        <div class="li_bord">经典绅士男表 Classic Sheffield 40mm 199元  DW00100017-新款钢带女表（32mm）银色边白盘  [ 1件 ] 已发货 <strong>√</strong></div>
                    </li>
                    <li class="bord_l">
                        <div class="bord_l">2017 - 11 - 7  上海的 周先生 （138 **** 7652）</div>
                        <div class="li_bord">经典绅士男表 Classic Sheffield 40mm 199元  DW00100015-新款钢带女表（32mm）金色边白盘  [ 2件 ] 已发货 <strong>√</strong></div>
                    </li>
                    <li class="bord_l">
                        <div class="bord_l">2017 - 11 - 7  天津的 吴小姐 （158 **** 5487）</div>
                        <div class="li_bord">经典绅士男表 Classic Sheffield 40mm 199元  DW00100008-白盘金框棕带+尼龙表带  [ 3件 ] 已发货 <strong>√</strong></div>
                    </li>
                    <li class="bord_l">
                        <div class="bord_l">2017 - 11 - 7  北京的 朱先生 （137 **** 5589</div>
                        <div class="li_bord">新款钢带女表Classic Petite  32mm199元 DW00100008-白盘金框棕带+尼龙表带  [ 2件 ] 已发货 <strong>√</strong></div>
                    </li>
                    <li class="bord_l">
                        <div class="bord_l">2017 - 11 - 7  湖北的 陈小姐 （152 **** 6658）</div>
                        <div class="li_bord">经典之情侣组合 Classic Couples 40mm+36mm 388元  DW00100016-新款钢带女表（32mm）金色边黑盘  [ 1件 ] 已发货 <strong>√</strong></div>
                    </li>
                    <li class="bord_l">
                        <div class="bord_l">2017 - 11 - 7  江苏的 田小姐 （133 **** 4587）</div>
                        <div class="li_bord">经典佳人女表  Classic Canterbury  36mm 199元 DW00100007-白盘金框黑带+尼龙表带 [ 2件 ] 已发货 <strong>√</strong></div>
                    </li>
                    <li class="bord_l">
                        <div class="bord_l">2017 - 11 - 7  浙江的 钟先生 （134 **** 5889）</div>
                        <div class="li_bord">经典绅士男表 Classic Sheffield 40mm 199元  DW00100012-黑盘金框棕带+尼龙表带 [ 1件 ] 已发货 <strong>√</strong></div>
                    </li>
                    <li class="bord_l">
                        <div class="bord_l">2017 - 11 - 7  黑龙江的 苏小姐 （135 **** 7312）</div>
                        <div class="li_bord">经典佳人女表  Classic Canterbury  36mm 199元 DW00100011-黑盘金框黑带+尼龙表带 [ 1件 ] 已发货 <strong>√</strong></div>
                    </li>
                    <li class="bord_l">
                        <div class="bord_l">2017 - 11 - 7  吉林的 胡先生 （189 **** 5899）</div>
                        <div class="li_bord">经典绅士男表 Classic Sheffield 40mm 199元  DW00100015-新款钢带女表（32mm）金色边白盘 [ 3件 ] 已发货 <strong>√</strong></div>
                    </li>
                </ul>
            </div>
            <div class="tC mar_t" style="padding-top:10px; border-top:1px solid #eee;">
                丹尼尔惠灵顿贸易（上海）有限公司
            </div>
            <div class="tC mar_t beij"><img src="/static/danielwellington_files/foot.jpg" class="renzheng" original="index/foot.jpg" style="display: inline;"></div>
            <div class="foot cff">
                <div id="top_btn" class="bord h48 w11"><a href="#"><span class="glyphicon glyphicon-open" style="font-size:16px;"></span></a></div>
                <div class="bord h48 w30"><a href="#ydname"><span class="glyphicon glyphicon-edit"></span>立即下单</a></div>
                <div class="bord h48 w30"><a href="sms:18681154373"><span class="glyphicon glyphicon-envelope"></span>短信订购</a></div>
                <div class="h48 w29"><a href="tel:4001170102"><span class="glyphicon glyphicon-user"></span>联系客服</a></div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
function f(obj)
{

var objradio=$(obj).find(':radio[name="chicun"]');
var chicun=$(objradio).val();
$("#chiid").val(chicun);
$("#text_box1").val(1);
var danjia=$("#danjia").val();
$("#total1").html(danjia);
$("#price").val(danjia);
$(obj).addClass('mouon').siblings().removeClass('mouon');
var chicun = document.getElementsByName('chicun');
for(var i=0;i<chicun.length;i++){
$(chicun[i]).attr("checked",false);
}
$(objradio).attr("checked","checked");
var _kucun=$(objradio).attr("_kucun");
var _xiangou=$(objradio).attr("_xiangou");
$("#_kucun").text(_kucun);
$("#_xiangou").text(_xiangou);
}
    </script>
    <div style="display:none">
        <script src="https://s19.cnzz.com/z_stat.php?id=1268531874&web_id=1268531874" language="JavaScript"></script>
    </div>
</body>
</html>