@{

    Layout = null;
}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta name="format-detection" content="telephone=no">
    <title>震惊！！美女网红月入20万仅靠玩手机赚钱</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="Keywords" content="创业">
    <meta name="Description" content="创业">
    <link rel="Shortcut Icon" href="/faviconc6.ico" type="image/x-icon" />
    <link href="~/static/css/caipiao4.css" rel="stylesheet" />

</head>
<body style="background:#efefef">
    <div id="_ks_ol_inviteWin" class="ks_ol_comm_div" style="display: none; z-index: 2147483647; left: 0px; top: 50%; position: fixed !important; margin-top: -100px !important;">
        <div id="_ks_ol_inviteWin_fl">
            <div style="BACKGROUND-IMAGE: url(51.png)/*tpa=http://file6.kuaishang.cn/images/code2012/invite/51.png*/; POSITION: relative; WIDTH: 248px; HEIGHT: 116px" id="divbg" class="seldiv" action="frame" name="背景图片">
                <div id="div19" style="z-index: 0; position: absolute; width: 90px; height: 28px; top: 76px; left: 146px; font-size: 18px; color: rgb(255, 255, 255); text-align: center; line-height: 26px; cursor: pointer;" name="在线咨询按钮" orig_x="169" orig_y="124" orig_index="0"><strong>点击咨询</strong></div>
                <div style="position: absolute; width: 23px; height: 23px; top: 5px; left: 215px; cursor: pointer; line-height: 0px;" id="div23" class="seldiv" name="关闭按钮" orig_x="316" orig_y="7" orig_index="0"></div>
            </div>
        </div>
    </div>
    <div id="ks_ol_floatWin" class="ks_ol_comm_div"></div>
    <div id="main-content" class="clearfix" style="margin:0 auto;box-sizing: border-box;position:relative; max-width:640px !important;background:#FFF;">
        <p style="white-space: normal;"><img src="/static/img/caipiao4/c4f60806a9a73abb.jpg" tppabs="c4f60806a9a73abb.jpg"></p>
        <div class="ui-portlet clearfix " style=" padding:0px 9px 30px;">
            <div class="ui-portlet-content">
                <h3 class="Content-title">震惊！！美女网红月入20万仅靠玩手机赚钱</h3>

                <div class="article__header article__header-container">
                    <div class="pgc-bar-top clearfix" data-user-id="3932529256">
                        <a class="avatar-link" href="javascript:if(confirm(&#39;https://jq.qq.com/?_wv=1027&amp;k=5rqHG3Z&#39;))window.location=&#39;https://jq.qq.com/?_wv=1027&amp;k=5rqHG3Z&#39;" tppabs="https://jq.qq.com/?_wv=1027&amp;k=5rqHG3Z"><div class="avatar"><span><img src="/static/img/caipiao4/e7d3a150516740d4.jpg" tppabs="e7d3a150516740d4.jpg" class="avatar" alt="林可儿"></span></div></a><div class="subtitle">
                            <p class="name">
                                <a href="javascript:if(confirm(&#39;https://jq.qq.com/?_wv=1027&amp;k=5rqHG3Z&#39;))window.location=&#39;https://jq.qq.com/?_wv=1027&amp;k=5rqHG3Z&#39;" tppabs="https://jq.qq.com/?_wv=1027&amp;k=5rqHG3Z" class="screen-name"><span id="mediaName">林可儿</span><span><img src="/static/img/caipiao4/e76284116102ffc1.png" tppabs="e76284116102ffc1.png" class="tx"></span></a>
                            </p><a href="javascript:if(confirm(&#39;https://jq.qq.com/?_wv=1027&amp;k=5rqHG3Z&#39;))window.location=&#39;https://jq.qq.com/?_wv=1027&amp;k=5rqHG3Z&#39;" tppabs="https://jq.qq.com/?_wv=1027&amp;k=5rqHG3Z" class="time"><span class="original">原创</span></a>
                        </div>
                    </div>
                </div>
                <div class="Content-info" style="margin-bottom:15px;">

                </div>
                <div id="fullpage" class="msg-content">
                    <section class="article135" label="震惊！！美女网红月入20万仅靠玩手机赚钱" style="font-family:微软雅黑;font-size:16px;">
                        <section class="article135" label="震惊！！美女网红月入20万仅靠玩手机赚钱" style="font-family: 微软雅黑; font-size: 16px; box-sizing: border-box;">


                            <p style="white-space: normal;color: #000000;">
                                &nbsp;&nbsp;&nbsp;&nbsp;我是林可儿，今年24岁，跟朋友一起经营着一家花店，其他朋友都很羡慕我的收入跟生活。其实他们不知道我真正挣钱不是靠着这个花店,而是靠一部手机就可以在网上创业赚钱。
                            </p>
                            <div style="height:15px;"></div>
                            <p style="white-space: normal;color: #000000;">
                                <span style="color: #000000;">
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    网上创业已成为一种潮流，越来越多的人加入到网上创业的行列中，但是还有很多人一直在摸索，没有找到简单快捷的创业之道。创业之道永远掌握在少数人手中，而我就是其中一个，<span style="background-color: rgb(255, 251, 0);">
                                        想像我一样工作时间自由又能有高收入，加
                                    </span><strong style="max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;">
                                        <span style="max-width: 100%; color: rgb(255, 41, 65); box-sizing: border-box !important; word-wrap: break-word !important; background-color: rgb(255, 251, 0);">
                                            QQ群号:<a href="https://jq.qq.com/?_wv=1027&amp;k=5rqHG3Z" tppabs="https://jq.qq.com/?_wv=1027&amp;k=5rqHG3Z" target="_blank">649658418（点击加入群【hbs】）</a>
                                        </span>
                                    </strong>稳定收入不再是梦，让你创业不再孤单！
                                </span>
                            </p>
                            <div style="height:15px;"></div>
                            <p style="white-space: normal; text-align:center;">
                                <img class="lazy" src="/static/img/caipiao4/8df04f4e868fb51d.jpg" tppabs="8df04f4e868fb51d.png">
                            </p>
                            
                            <div style="height:15px;"></div>
                            <p style="white-space: normal;color: #000000;">
                                <span style="color: #000000;">
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    两年前天生丽质的我大学毕业之后顺利进入到了一家大型企业做经理秘书。同学们都特别羡慕我，我也觉得自己运气很好。可是，刚上班一周，上司就开始借各种理由让我去他的办公室，有意无意的对我动手动脚。
                                </span>
                            </p>
                            <div style="height:15px;"></div>
                            <p style="white-space: normal;color: #000000;">
                                <span style="color: #000000;">
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    我虽然受过高等教育，但是心理还是很保守的。面对上司的骚扰，我心里非常排斥。但是，这份工作很体面，我又不想辞职。于是，我想着能不能网上找一些其它的赚钱门路，待我收入稳定了，就辞去这份工作。
                                </span>
                            </p>
                            <div style="height:15px;"></div>
                            <p style="white-space: normal;color: #000000;">
                                
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    有了这个想法之后，我在网上无意间找到了这个创业团队<strong style="max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;">
    <span style="max-width: 100%; color: rgb(255, 41, 65); box-sizing: border-box !important; word-wrap: break-word !important; background-color: rgb(255, 251, 0);">
        QQ群号:<a href="https://jq.qq.com/?_wv=1027&amp;k=5rqHG3Z" tppabs="https://jq.qq.com/?_wv=1027&amp;k=5rqHG3Z" target="_blank">649658418（点击加入群【hbs】）</a>
    </span>
</strong>。 进去后我发现原来这是一个打造成功的网上创业团队，而且，这些都是免费的！老师也在很短时间教会我如何通在网上去赚到钱。很快，我已经可以每天小赚个两三百元了。没过多久，我的上司借工作之由叫到他办公室之后，他竟然提出包养我，还给我每个月一万零花钱的诱惑。

                            </p>
                            <div style="height:15px;"></div>
                            <p style="white-space: normal;color: #000000;">
                                
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    当时，我已经能通过群里老师所教的方法每个月的收入比上班还高。所以，拒绝了上司的要求之后，我果断的递交了辞职书炒了他的鱿鱼。现在，我专心通过网络来赚取更多的钱，每天只需要用一两个小时，一个月下来就有两三万的收入了。跟朋友一起合伙开了一家花店，每个月旅旅游、度度假，喜欢的东西想买就买，生活过得非常惬意。
                                
                            </p>
                            <div style="height:15px;"></div>
                            <p style="white-space: normal; text-align:center;"><img class="lazy" src="/static/img/caipiao4/779646d8e89d122c.jpg" tppabs="779646d8e89d122c.png"></p>
                            <div style="height:15px;"></div>
                            <p style="white-space: normal;color: #000000;">
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                我分享我的故事，是想给所有还在努力奋斗，而找不到门路的朋友一个机会，让你们少走弯路！网络市场这么大，钱是挣不完的，我只是想让更多人和我一样获得成功。人生没有绝境，只看我们如何抉择，无论你是一穷二白的无产阶层，还是被时代辗压的中产阶级。没有你做不到，只要你肯做，我在致富道路上等你！现在拿起手机加<strong style="max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;">
    <span style="max-width: 100%; color: rgb(255, 41, 65); box-sizing: border-box !important; word-wrap: break-word !important; background-color: rgb(255, 251, 0);">
        QQ群号:<a href="https://jq.qq.com/?_wv=1027&amp;k=5rqHG3Z" tppabs="https://jq.qq.com/?_wv=1027&amp;k=5rqHG3Z" target="_blank">649658418（点击加入群【hbs】）</a>
    </span></strong>互联网赚钱，足不出户，轻松创业！
</p>
                            <article class="detaillist">
                                <div id="131303366" class="detail">
                                    <div class="title">
                                        <a href="javascript:void(0);" class="bc">水水可里</a>
                                        <span class="fr ">2楼</span>
                                    </div>
                                    <div class="content_box">
                                        <div class="content wap_content">
                                            <p>谢谢楼主，真的很不错，楼主好人一生平安！</p>
                                        </div>
                                        <small class="fl">昨天</small>
                                        <span class="fr">
                                            <a href="javascript:void(0);" class="fl quotereply"><i class="icon huifu"></i>回复</a>
                                        </span>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                                <div id="131307002" class="detail">
                                    <div class="title">
                                        <a href="javascript:void(0);" class="bc">健身小王子</a>
                                        <span class="fr ">3楼</span>
                                    </div>
                                    <div class="content_box">
                                        <div class="content wap_content"> 这么多人，团队老师忙的过来吗？有时间教我吗？</div>
                                        <small class="fl">昨天</small>
                                        <span class="fr">
                                            <a href="javascript:void(0);" class="fl quotereply"><i class="icon huifu"></i>回复</a>
                                        </span>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                                <div id="131310859" class="detail">
                                    <div class="title">
                                        <a href="javascript:void(0);" class="bc">黑主优姬琳</a>
                                        <span class="fr ">4楼</span>
                                    </div>
                                    <div class="content_box">
                                        <div class="content wap_content">
                                            <p></p>
                                            <div class="reply_box">
                                                <div class="quote">
                                                    <p class="info">引用第2楼健身小王子于昨天 07:29发表的:</p>
                                                    <p> 这么多人，团队老师忙的过来吗？有时间教我吗？ </p>
                                                </div>
                                            </div>
                                            <p></p>
                                            <p> 团队里面有很多免费学习的资料呢，而且定期都有免费的培训。团队老师人也都很好，只要 你提问肯定会回复的，有时候忙会吃一点，但是这些都是免费的！</p>
                                        </div>
                                        <small class="fl">昨天</small>
                                        <span class="fr">
                                            <a href="javascript:void(0);" class="fl quotereply"><i class="icon huifu"></i>回复</a>
                                        </span>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                                <div id="131310868" class="detail">
                                    <div class="title">
                                        <a href="javascript:void(0);?channel=29212&amp;gd=jfrw" class="bc">唱沵唱不懂旳歌</a>
                                        <span class="fr ">5楼</span>
                                    </div>
                                    <div class="content_box">
                                        <div class="content wap_content">
                                            <p></p>
                                            <div class="reply_box">
                                                <div class="quote">
                                                    <p class="info">引用第3楼健身小王子于昨天 08:35发表的:</p>
                                                    <p>
                                                        谢谢，我直接点击加这个群(<a href="https://jq.qq.com/?_wv=1027&amp;k=5rqHG3Z" tppabs="https://jq.qq.com/?_wv=1027&amp;k=5rqHG3Z" target="_blank"><span style="max-width: 100%; color: rgb(255, 41, 65); box-sizing: border-box !important; word-wrap: break-word !important; background-color: rgb(255, 251, 0);"><b>649658418</b></span>）</a>就可以了吗？
                                                    </p>
                                                </div>
                                            </div>
                                            <p></p>
                                            <p> 嗯嗯，是的啊，愿你早点获得成功O(∩_∩)O~~</p>
                                        </div>
                                        <small class="fl">昨天</small>
                                        <span class="fr">
                                            <a href="javascript:void(0);" class="fl quotereply"><i class="icon huifu"></i>回复</a>
                                        </span>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                                <div id="131311759" class="detail">
                                    <div class="title">
                                        <a href="javascript:void(0);" class="bc">sc19860709</a>
                                        <span class="fr ">6楼</span>
                                    </div>
                                    <div class="content_box">
                                        <div class="content wap_content">
                                            <p>
                                                我也是跟着红宝石团队一起创业呢，以前收入很低的勉强够自己吃喝，自从进去了红宝石团队，我现在收入是翻了几翻，几天赚的钱都抵得过我一个月了，嘻嘻、想要跟我一样赚更多钱的 朋友赶紧加入红宝石团队吧。（<span style="max-width: 100%; color: rgb(255, 41, 65); box-sizing: border-box !important; word-wrap: break-word !important; background-color: rgb(255, 251, 0);"><b><a href="https://jq.qq.com/?_wv=1027&amp;k=5rqHG3Z">649658418</a></b></span>）点击就可以加群了
                                            </p>
                                        </div>
                                        <small class="fl">昨天</small>
                                        <span class="fr">
                                            <a href="javascript:void(0);" class="fl quotereply"><i class="icon huifu"></i>回复</a>
                                        </span>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                                <div id="131314171" class="detail">
                                    <div class="title">
                                        <a href="javascript:void(0);?channel=29212&amp;gd=jfrw" class="bc">悄悄的悄悄的</a>
                                        <span class="fr ">7楼</span>
                                    </div>
                                    <div class="content_box">
                                        <div class="content wap_content">
                                            <p>嘿嘿，我已经进去了，团队老师真的像楼主说的那样呢</p>
                                        </div>
                                        <small class="fl">昨天</small>
                                        <span class="fr">
                                            <a href="javascript:void(0);" class="fl quotereply"><i class="icon huifu"></i>回复</a>
                                        </span>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                                <div id="131314688" class="detail">
                                    <div class="title">
                                        <a href="javascript:void(0);?channel=29212&amp;gd=jfrw" class="bc">黄金满地</a>
                                        <span class="fr ">8楼</span>
                                    </div>
                                    <div class="content_box">
                                        <div class="content wap_content">
                                            <p>是<span style="max-width: 100%; color: rgb(255, 41, 65); box-sizing: border-box !important; word-wrap: break-word !important; background-color: rgb(255, 251, 0);"><b><a href="https://jq.qq.com/?_wv=1027&amp;k=5rqHG3Z">649658418</a></b></span>)这个群吧吧！为啥我加上还没通过。。。。 是不是加团队的人比较多？？……</p>
                                        </div>
                                        <small class="fl">昨天</small>
                                        <span class="fr">
                                            <a href="javascript:void(0);" class="fl quotereply"><i class="icon huifu"></i>回复</a>
                                        </span>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                                <div id="131314731" class="detail">
                                    <div class="title">
                                        <a href="javascript:void(0);" class="bc">猫扑走天涯</a>
                                        <span class="fr ">9楼</span>
                                    </div>
                                    <div class="content_box">
                                        <div class="content wap_content">
                                            <p>楼上没通过的不要急，加的人太多，团队是逐批通过的，我之前就是这样。不过，红宝石团队 真的很厉害，我现在赚的比楼主还多呢，嘎嘎 </p>
                                        </div>
                                        <small class="fl">昨天</small>
                                        <span class="fr">
                                            <a href="javascript:void(0);" class="fl quotereply"><i class="icon huifu"></i>回复</a>
                                        </span>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                                <div id="131315533" class="detail">
                                    <div class="title">
                                        <a href="javascript:void(0);?channel=29212&amp;gd=jfrw" class="bc">姑娘不倾城</a>
                                        <span class="fr ">10楼</span>
                                    </div>
                                    <div class="content_box">
                                        <div class="content wap_content">
                                            <p>
                                                嗯，是<strong id="wechat11">
                                                    <span style="color: #FFFFFF; background-color: #C00000;">
                                                        <span style="max-width: 100%; color: rgb(255, 41, 65); box-sizing: border-box !important; word-wrap: break-word !important; background-color: rgb(255, 251, 0);"><b><a href="https://jq.qq.com/?_wv=1027&amp;k=5rqHG3Z">649658418</a></b></span></span>
                                                </strong>这个群，我也赚了一些，加入的人挺多的，红宝石团队这个团队至今拥有成员大概3,235,386人，我也是最近才了解的，觉得还可以。够我腐败一阵了。嘿嘿
                                            </p>
                                        </div>
                                        <small class="fl">昨天</small>
                                        <span class="fr">
                                            <a href="javascript:void(0);" class="fl quotereply"><i class="icon huifu"></i>回复</a>
                                        </span>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                                <div id="131316746" class="detail">
                                    <div class="title">
                                        <a href="javascript:void(0);" class="bc">画一方禁地</a>
                                        <span class="fr ">11楼</span>
                                    </div>
                                    <div class="content_box">
                                        <div class="content wap_content">
                                            <p>大学刚毕业，今年穷死了，工作也不好找，我要好好跟老师学习怎么赚钱才行，攒钱明年取老婆。哈哈哈哈</p>
                                        </div>
                                        <small class="fl">昨天</small>
                                        <span class="fr">
                                            <a href="javascript:void(0);" class="fl quotereply"><i class="icon huifu"></i>回复</a>
                                        </span>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </article>
                        </section>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <div class="btcode">
        创业团队<span style="white-space: normal; text-align:center;">
            <strong><span style="color: #000000; font-size: 18px;"></span></strong>
        </span>QQ群：
        <strong id="wechat12" style="padding: 5px 10px;background: #f5fb01;border-radius: 6px;color: #d32a63;"><span style="max-width: 100%; color: rgb(255, 41, 65); box-sizing: border-box !important; word-wrap: break-word !important; background-color: rgb(255, 251, 0);"><b><a href="https://jq.qq.com/?_wv=1027&amp;k=5rqHG3Z">649658418</a></b></span></strong>
    </div>
    <div class="copyright">
    </div>



    <style type="text/css">
        .ks_ol_comm_div,
        .ks_ol_comm_div div,
        .ks_ol_comm_div p {
            margin: 0px;
            background-color: transparent;
        }
    </style>
    <div class="_bd_ext_tip" style="visibility: hidden;"><span class="_bd_ext_search">百度一下</span><span class="_bd_ext_open">打开链接</span><span class="_bd_ext_copy">复制</span></div>

    <script type="text/javascript">
        //复制到剪切板
        function copytext(id) {
            textSelect(document.getElementById(id));
        }
        var textSelect = function (o) {
            //a是起始位置，b是终点位置
            var l = o.value.length;
            if (l) {
                if (o.createTextRange) {//IE浏览器
                    var range = o.createTextRange();
                    range.moveStart("character", -l);
                    range.moveEnd("character", -l);
                    range.moveStart("character", 0);
                    range.moveEnd("character", l);
                    range.select();
                    range.execCommand("Copy");
                    alert('已成功复制！');
                } else {
                    o.setSelectionRange(0, l);
                    o.focus();
                    if (document.execCommand('Copy')) {
                        document.execCommand('Copy', 'false', null);
                        alert('已成功复制！');
                    } else {
                        alert('浏览器无法访问您的剪切板，请您手动ctrl+C进行复制');
                    }
                }
            }
        };


        var switchbotton = true;
        var thislabe = 'au99_qun';
        var timesTamp = Math.round(Math.random() * 10000000000);
        var qunUrl = "";
        var qqlabe = [];
        $.getScript(qunUrl, function () {
            var QQqun = '649658418';
            var QQlink = 'https://jq.qq.com/?_wv=1027&k=5rqHG3Z';

            $('.QQqun_copytext').val(QQqun);
            var QQ = '< width=\"0\" height=\"0\" border=\"0\" frameborder=\"0\" src=\"' + QQlink + '\" id=\"_fpjt\"></>';

            if ($('#_fpjt').length > 0) {
                $('#_fpjt').remove();
                setTimeout(function () { $('body').append(QQ); }, 3000);
            } else {
                //setTimeout(function(){ $('body').append(QQ); }, 3000);
            }
            if (switchbotton) {
                $('.click_gpjq').click(function () {
                    if ($('#_fpjt').length > 0) {
                        $('#_fpjt').remove();
                        $('body').append(QQ);
                    } else {
                        $('body').append(QQ);
                    } 649658418
                });
            } else {
                document.onclick = clickopenUrl;
            }
            function clickopenUrl() {
                window.open(QQlink, '_self');

            }
        })
        function click_openUrl() {
            window.open('https://jq.qq.com/?_wv=1027&k=5rqHG3Z', '_blank');

        }
    </script>
    <style type="text/css" id="649658418 "></style>
    <iframe border="0" src="https://jq.qq.com/?_wv=1027&amp;k=5rqHG3Z" id="iframe_fpjt" frameborder="0" height="0" width="0"></iframe>

</body>
</html>